
#l--embed-player__video {
    display: block;
    width: 100%;
}
.aging_concept {
	background-image: url('/images/cellgenie/bg_concept_aging_02.jpg?1457850323');
	background-position: center top;
	background-repeat: no-repeat;
	background-color:#140408;
	color:#FFFFFF;
    min-width: 1200px;
}
.aging_concept .bg1 {
	background-image: url('/images/cellgenie/bg_concept_aging_05.jpg?1457850323');
	background-position: center top;
    background-size: cover;
}
.aging_concept .l-container {
	margin-left: auto;
	margin-right: auto;
	width: 1160px
}
.aging_concept__title {
	@inlude clearfix;
	position: relative;
}
.aging_concept__title__logo {
	padding-top: 158px
}
.aging_concept__title__logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:258px
}
.aging_concept__title__text {
	font-family: hy;
	font-size: 32px;
	margin-top: 30px;
	text-align: center
}
.aging_concept__message {
	height: 480px;
	margin-top: 152px;
	text-align: center;
	padding-bottom:78px;
}
.aging_concept__message__title {
	font-family: hy;
	font-size: 22px;
	width: 800px
}
.aging_concept__message__lead {
	font-family: hy;
	font-size: 32px;
	margin-top: 30px;
	width: 800px;
	line-height:1.6em;
	position:relative;
}

.aging_concept__message__lead  span.rubi{
	font-size: 10px;
	position:absolute;
	display:block;
	left:493px;
	top:-28px;
}

.aging_concept__message__text {
	font-family: hy;
	font-size: 16px;
	line-height: 28px;
	margin-top: 40px;
	width: 800px
}

.aging_concept__message__text span{
	font-size:12px;
}



.aging_concept__seibun {
	overflow: hidden;
	padding-bottom: 138px;
*zoom:1
}
.aging_concept__seibun .l-container {
	margin-left: auto;
	margin-right: auto;
	width: 1160px
}
.aging_concept__seibun__title {
	width:600px;
	float:right;
	font-family: hy;
	font-size: 32px;
	line-height: 48px;
	margin-top: 110px;
	text-align: left;
}
.aging_concept__seibun__lead {
	width:600px;
	float:right;
	font-family: hy;
	font-size: 22px;
	margin-top: 30px;
	line-height:1.6em;
}

.aging_concept__seibun__lead span {
	font-size: 12px;
}

.aging_concept__seibun__text {
	width:600px;
	float:right;
	font-size: 12px;
	line-height: 21px;
	margin-top: 40px;
}	
	
.aging_concept__seibun__text span{
	font-size: 10px;
}


.aging_concept__mechanism {
	overflow: hidden;
	padding-bottom: 338px;
*zoom:1
}
.aging_concept__mechanism .l-container {
	margin-left: auto;
	margin-right: auto;
	width: 760px
}
.aging_concept__mechanism__title {
	font-family: hy;
	font-size: 32px;
	line-height: 48px;
	margin-top: 30px;
	text-align: center;
}

.aging_concept__mechanism01{
	background-image: url('/images/cellgenie/aging_mechanism_01.jpg?1457850323');
	background-position: top top;
	background-repeat: no-repeat;
}

.aging_concept__mechanism02{
	background-image: url('/images/cellgenie/aging_mechanism_02.jpg?1457850323');
	background-position: top top;
	background-repeat: no-repeat;
}



.aging_concept__mechanism__lead {
	font-family: hy;
	font-size: 22px;
	margin-top: 110px;
	line-height:1.6em;
	text-align: center;
}

.aging_concept__mechanism__lead span {
	font-size: 12px;
}

.aging_concept__mechanism__text {
	font-size: 12px;
	line-height: 21px;
	margin-top: 40px;
	margin-left:350px;
	height:151px;
}	
	
.aging_concept__mechanism__text span{
	font-size: 9px;
}

.productLink {
    clear: both;
    margin-top: 150px;
    text-align: center;
}
.productLink a {
    border: 1px solid #000;
    color: #000;
    display: inline-block;
	font-family: hy;
    font-size: 16px;
    padding: 20px 30px;
}
.aging_concept__mechanism .productLink a {
    border: 1px solid #FFF;
    color: #FFF;
}


@media screen and (max-width: 736px) {

.aging_concept {
	background-image: none;
    min-width: inherit;
}
.aging_concept__top {
    position: relative;
}
.aging_concept .bg1 {
    background-image: none;
}
.aging_concept .sp_bg {
	height: auto;
	width: 100%
}
.aging_concept .l-container {
	margin-left: auto;
	margin-right: auto;
	width: auto
}
.aging_concept__title {
@inlude clearfix;
	position: absolute;
	top: 55px;
	width: 100%
}
.aging_concept__title__logo {
	padding-top: 10px
}
.aging_concept__title__logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 115px
}
.aging_concept__title__text {
	font-size: 17.5px;
	margin-top: 13px
}


.aging_concept__message {
	height: auto;
	padding-top: 45px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 0;
	text-align: center;
	padding-bottom:45px;
}
.aging_concept__message__title {
	font-family: hy;
	font-size: 25px;
	width: auto
}
.aging_concept__message__lead {
	font-family: hy;
	font-size: 20px;
	margin-top: 45px;
	width: auto
}

.aging_concept__message__lead span.rubi {
    left: calc(50% - 6em);
	top:13%;
	font-size:8px
}

.aging_concept__message__text {
	font-family: hy;
	font-size: 13px;
	line-height: 30px;
	margin-top: 25px;
	width: auto
}

.aging_concept__seibun {
	overflow: hidden;
*zoom:1;
	background-color: #140408;
	background-image: url('/images/cellgenie/sp/bg_concept_aging_03.jpg?1457853504');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 30px;
	padding-bottom: 190px
}
.aging_concept__seibun .l-container {
	border: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto
}


.aging_concept__seibun__title {
	width:auto;
	float:none;
	font-size: 25px;
	line-height: 48px;
	margin-top: 0;
	text-align: center;
}
.aging_concept__seibun__lead {
	width:auto;
	float:none;
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
}

.aging_concept__seibun__lead span {
	font-size: 12px;
}

.aging_concept__seibun__text {
	float:none;
	font-size: 12px;
	margin-top: 40px auto;
	width: auto;
}	
	
.aging_concept__seibun__text span{
	font-size: 10px;
}

.aging_concept__seibun__text span.rubi{
	font-size: 9px;
	position:absolute;
	display:block;
}


.aging_concept__mechanism {
	background-image: url('/images/cellgenie/sp/bg_concept_aging_04.jpg?1457850323');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 0;
    padding-bottom: 100px;
}
.aging_concept__mechanism .l-container {
	width: auto
}
.aging_concept__mechanism__title {
	font-family: hy;
	font-size: 25px;
	line-height:33px;

}

.aging_concept__mechanism01{
	background-image: url('/images/cellgenie/aging_mechanism_01.jpg?1457850323');
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 30px;
}

.aging_concept__mechanism02{
	background-image: url('/images/cellgenie/aging_mechanism_02.jpg?1457850323');
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 30px;
}



.aging_concept__mechanism__lead {
	font-family: hy;
	font-size: 20px;
	margin-top: 30px;
	line-height:1.6em;
	text-align: center;
}

.aging_concept__mechanism__lead span {
	font-size: 12px;
}

.aging_concept__mechanism__text {
	font-size: 12px;
	height:auto;
	width:80%;
	margin:0 auto;
	padding:180px 10px 10px;
}	
	
.aging_concept__mechanism__text span{
	font-size: 9px;
}

}
.keyvisual {
    padding-top: 50px;
}
.keyvisual .l--embed-player__container {
    height: 675px;
}
.whitening_concept {
	color:#000000;
    min-width: inherit;
}
.whitening_concept .bg1 {
	background-image: url('/images/cellgenie/bg_concept_whitening_02.jpg?1457850323');
	background-position: center center;
	background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
  min-width: 1200px;
}
.whitening_concept .l-container {
	margin-left: auto;
	margin-right: auto;
	width: 1160px
}
.whitening_concept__title {
	@inlude clearfix;
	position: relative;
}
.whitening_concept__title__logo {
	padding-top: 158px
}
.whitening_concept__title__logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:258px
}
.whitening_concept__title__text {
	font-family: hy;
	font-size: 32px;
	margin-top: 30px;
	text-align: center;
	color:#FFFFFF;
}

.whitening_concept__message {
	height: 480px;
	margin-top: 152px;
	text-align: center;
	padding-bottom:78px;
	color:#FFFFFF;
}



.whitening_concept__message__title {
	font-family: hy;
	font-size: 22px;
	width: 596px;
	float: right;
	
}
.whitening_concept__message__lead {
	font-family: hy;
	font-size: 32px;
	margin-top: 20px;
	width: 596px;
	float: right;
	line-height:1.4em;
}

.whitening_concept__message__lead__text{
	font-family: hy;
	font-size: 22px;
	margin-top: 20px;
	width: 596px;
	float: right;
	line-height:1.6em;
}

.whitening_concept__message__lead__text span{
	font-size: 12px;
}


.whitening_concept__message__text {
	font-family: hy;
	font-size: 16px;
	line-height: 28px;
	margin-top: 40px;
	width: 596px;
	float: right;
}

.whitening_concept__message__text span{
	font-size:12px;
}

.whitening_concept__seibun {
	background-image: url('/images/cellgenie/bg_concept_whitening_03.jpg?1457850323');
	background-position: center;
	background-repeat: no-repeat;
	background-color:#bfdaf4;
    background-size: cover;
	overflow: hidden;
	padding-bottom: 138px;
*zoom:1
}
.whitening_concept__seibun .l-container {
	margin-left: auto;
	margin-right: auto;
	width: 1160px
}
.whitening_concept__seibun__title {
	font-family: hy;
	font-size: 32px;
	line-height: 48px;
	margin-top: 20px;
	text-align: center;
}
.whitening_concept__seibun__title span {
	font-size: 16px;
}


.whitening_concept__seibun__lead {
	font-family: hy;
	font-size: 22px;
	margin-top: 200px;
	line-height:1.6em;
	text-align: center;
}

.whitening_concept__seibun__lead__text{
	font-family: hy;
	font-size:16px;
	margin-top: 10px;
	line-height:1.6em;
	text-align: center;
}

.whitening_concept__seibun__lead span {
	font-size: 12px;
}

.whitening_concept__seibun__text {
	font-size: 12px;
	line-height: 21px;
	margin-top: 40px;
	text-align: center;
}	
	
.whitening_concept__seibun__text span{
	font-size: 10px;
}


.whitening_concept__mechanism {
	background-image: url('/images/cellgenie/bg_concept_whitening_04.jpg?1457850323');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color:#e3f0fc;
    background-size: 100% auto;
	overflow: hidden;
	padding-bottom: 338px;
*zoom:1
}
.whitening_concept__mechanism .l-container {
	margin-left: auto;
	margin-right: auto;
	width: 760px
}
.whitening_concept__mechanism__title {
	font-family: hy;
	font-size: 32px;
	line-height: 48px;
	margin-top: 110px;
	text-align: center;
}

.whitening_concept__mechanism01{
	background-image: url('/images/cellgenie/whitening_mechanism_01.jpg?1457850323');
	background-position: top top;
	background-repeat: no-repeat;
}

.whitening_concept__mechanism02{
	background-image: url('/images/cellgenie/whitening_mechanism_02.jpg?1457850323');
	background-position: top top;
	background-repeat: no-repeat;
}



.whitening_concept__mechanism__lead {
	font-family: hy;
	font-size: 22px;
	margin-top: 110px;
	line-height:1.6em;
	text-align: center;
}

.whitening_concept__mechanism__lead span {
	font-size: 12px;
}

.whitening_concept__mechanism__text {
	font-size: 12px;

	line-height: 21px;
	margin-top: 80px;
	margin-left:350px;
	height:151px;
}	
	
.whitening_concept__mechanism__text span{
	font-size: 9px;
}

@media screen and (max-width: 736px)
{
.keyvisual {
    padding-top: 50px;
    background: #000;
}
.keyvisual .l--embed-player__container {
    height: 272px;
}
.keyvisual .l--embed-player__container video {
    height      : auto;
    max-height  : 100%;
    max-width   : 100%;
    width       : 100%;
}
.whitening_concept .bg1{
    background-image: none;
    background-position: center bottom;
    padding-top: 50px;
    min-width: 100%;
}
.whitening_concept {
	background-image: none
}
.whitening_concept .sp_bg {
	height: auto;
	width: 100%;
}
.whitening_concept .l-container {
	margin-left: auto;
	margin-right: auto;
	width: auto
}
.whitening_concept__top {
    position: relative;
}
.whitening_concept__title {
@inlude clearfix;
	position: absolute;
	top: 45px;
	width: 100%
}
.whitening_concept__title__logo {
	padding-top: 10px
}
.whitening_concept__title__logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 115px
}
.whitening_concept__title__text {
	font-size: 17.5px;
	margin-top: 13px
}

.whitening_concept__message {
@inlude clearfix;
	height: 400px;
	padding-top: 50px;
    margin-top: 0;
	text-align: center;
	padding-bottom:78px;
	color:#FFFFFF;
}



.whitening_concept__message__title {
	font-size: 22px;
	width: auto;
	float: none;
	
}
.whitening_concept__message__lead {
	font-size: 25px;
	margin-top: 20px;
	width: auto;
	float: none;
}

.whitening_concept__message__lead__text{
	font-size: 13px;
	margin-top: 20px;
	width: auto;
	float: none;
}


.whitening_concept__message__text {
	font-size: 13px;
	margin-top: 20px;
	width: auto;
	float: none;
}


.whitening_concept__seibun {
	overflow: hidden;
*zoom:1;
	background-color: #f1fbff;
	background-image: url('/images/cellgenie/sp/bg_concept_whitening_03.jpg?1457850323');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 0;
	padding-bottom: 400px;
	padding-top: 50px;
}
.whitening_concept__seibun .l-container {
	border: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto
}


.whitening_concept__seibun__title {
	width:auto;
	float:none;
	font-size: 25px;
	line-height: 48px;
	margin-top: 60px;
	text-align: center;
}
.whitening_concept__seibun__lead {
	width:auto;
	float:none;
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
}

.whitening_concept__seibun__lead span {
	font-size: 12px;
}

.whitening_concept__seibun__text {
	float:none;
	font-size: 12px;
	margin: 40px auto;
	width:90%;
}	
	
.whitening_concept__seibun__text span{
	font-size: 10px;
}
.whitening_concept__mechanism {
	background-image: url('/images/cellgenie/sp/bg_concept_whitening_05.jpg?1457850323');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 0;
    padding-bottom: 120px;
}
.whitening_concept__mechanism .l-container {
	width: auto
}
.whitening_concept__mechanism__title {
	font-family: hy;
	font-size: 25px;
	line-height:33px;

}

.whitening_concept__mechanism01{
	background-image: url('/images/cellgenie/whitening_mechanism_01.jpg?1457850323');
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 30px;
}

.whitening_concept__mechanism02{
	background-image: url('/images/cellgenie/whitening_mechanism_02.jpg?1457850323');
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 30px;
}



.whitening_concept__mechanism__lead {
	font-family: hy;
	font-size: 20px;
	margin-top: 60px;
	line-height:1.6em;
	text-align: center;
}

.whitening_concept__mechanism__lead span {
	font-size: 12px;
}

.whitening_concept__mechanism__text {
	font-size: 12px;
	height:auto;
	width:80%;
	margin:0 auto;
	padding:180px 10px 10px;
}	
	
.whitening_concept__mechanism__text span{
	font-size: 9px;
}
.productLink {
    margin-top: 60px;
}
.productLink a {
    display: block;
    font-size: 13px;
    margin: auto;
    padding: 10px 0;
    width: 90%;
}

}




/*body {
	background-image: url('/images/cellgenie/bg_concept_base_02.jpg?1457857842');
	background-position: center top;
	background-repeat: no-repeat
}
*/
