@charset "UTF-8";
/* smartphone layout break point*/
/* max width device : iPhone6 plus(Landscape) */
/* line 8, ../scss/imcube.scss */
#specialPage {
  background-color: #9b824e;
  background-image: url(../images/imcube/body_bg.gif);
  background-position: center bottom;
  background-repeat: repeat-x;
}

/* line 15, ../scss/imcube.scss */
.imcube {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../scss/imcube.scss */
.imcube__header {
  background-color: #9b8a66;
  background-image: url(../images/imcube/title_bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  text-align: center;
}
/* line 29, ../scss/imcube.scss */
.imcube__header .l-header {
  margin-left: -64px;
  position: absolute;
  left: 50%;
  top: 184px;
  width: 460px;
}
/* line 36, ../scss/imcube.scss */
.imcube__header__title {
  font-family: hy;
  font-size: 37px;
}
/* line 41, ../scss/imcube.scss */
.imcube__about {
  background-color: #f9f8f8;
  background-image: url(../images/imcube/image.jpg);
  background-position: 80% top;
  background-repeat: no-repeat;
  height: 400px;
}
/* line 47, ../scss/imcube.scss */
.imcube__about .l-aboutconteiner {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/* line 52, ../scss/imcube.scss */
.imcube__about__title {
  font-family: hy;
  font-size: 22px;
  line-height: 38px;
  padding-top: 75px;
}
/* line 58, ../scss/imcube.scss */
.imcube__about__text {
  font-size: 12px;
  line-height: 1.8;
  margin-top: 40px;
  width: 470px;
}
/* line 65, ../scss/imcube.scss */
.imcube__shop {
  text-align: center;
}
/* line 67, ../scss/imcube.scss */
.imcube__shop__title {
  color: #fff;
  font-family: hy;
  font-size: 22px;
  padding-top: 95px;
}
/* line 73, ../scss/imcube.scss */
.imcube__shop__text {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  padding-top: 24px;
}
/* line 79, ../scss/imcube.scss */
.imcube__shop__btn {
  padding-top: 50px;
}
/* line 81, ../scss/imcube.scss */
.imcube__shop__btn a {
  background-color: #FFF;
  color: #9b824e;
  display: inline-block;
  font-family: hy;
  font-size: 16px;
  padding: 20px;
}

/*

sp---------------------------------------------------------------------------------------------

*/
@media screen and (max-width: 736px) {
  /* line 103, ../scss/imcube.scss */
  .imcube {
    overflow: hidden;
    *zoom: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 108, ../scss/imcube.scss */
  .imcube__header {
    background-color: #9b8a66;
    background-image: url(../images/imcube/title_bg.jpg);
    background-position: 24% 30px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 240px;
    position: relative;
    text-align: center;
  }
  /* line 117, ../scss/imcube.scss */
  .imcube__header .l-header {
    margin-left: 0;
    position: relative;
    left: 20%;
    top: 86px;
    width: 240px;
  }
  /* line 124, ../scss/imcube.scss */
  .imcube__header__title {
    font-family: hy;
    font-size: 18px;
    line-height: 1.5;
  }
  /* line 130, ../scss/imcube.scss */
  .imcube__about {
    background-color: #f9f8f8;
    background-image: url(../images/imcube/image.jpg);
    background-position: 60px bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
    padding-bottom: 30px;
  }
  /* line 138, ../scss/imcube.scss */
  .imcube__about .l-aboutconteiner {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 143, ../scss/imcube.scss */
  .imcube__about__title {
    font-family: hy;
    font-size: 16px;
    margin-left: 10px;
    line-height: 1.8;
    padding-top: 30px;
  }
  /* line 150, ../scss/imcube.scss */
  .imcube__about__text {
    font-size: 12px;
    line-height: 1.8;
    margin-left: 10px;
    margin-top: 20px;
    width: 58%;
  }
  /* line 158, ../scss/imcube.scss */
  .imcube__shop {
    text-align: center;
  }
  /* line 160, ../scss/imcube.scss */
  .imcube__shop__title {
    color: #fff;
    font-family: hy;
    font-size: 16px;
    padding-top: 30px;
  }
  /* line 166, ../scss/imcube.scss */
  .imcube__shop__text {
    color: #fff;
    font-size: 12px;
    line-height: 1.6;
    padding-top: 12px;
  }
  /* line 172, ../scss/imcube.scss */
  .imcube__shop__btn {
    padding-top: 30px;
  }
  /* line 174, ../scss/imcube.scss */
  .imcube__shop__btn a {
    background-color: #FFF;
    color: #9b824e;
    display: inline-block;
    font-family: hy;
    font-size: 14px;
    padding: 10px;
  }
}

/*# sourceMappingURL=imcube.css.map */
