@charset "UTF-8";
/* smartphone layout break point*/
/* max width device : iPhone6 plus(Landscape) */
/* line 8, ../scss/linetop-aq_mw.scss */
.mainContainer {
  padding-top: 50px;
}

/* line 11, ../scss/linetop-aq_mw.scss */
.concept__title {
  font-family: hy;
  font-size: 30px;
  text-align: center;
}

/* line 17, ../scss/linetop-aq_mw.scss */
.concept__list {
  margin-top: 50px;
}

/* line 22, ../scss/linetop-aq_mw.scss */
.concept__list__item {
  position: relative;
}
/* line 24, ../scss/linetop-aq_mw.scss */
.concept__list__item .title,
.concept__list__item .copy {
  color: #FFF;
  display: block;
  font-family: hy;
  text-align: center;
  width: 100%;
}
/* line 32, ../scss/linetop-aq_mw.scss */
.concept__list__item .title {
  font-size: 25px;
  margin-top: 220px;
}
/* line 36, ../scss/linetop-aq_mw.scss */
.concept__list__item .copy {
  font-size: 15px;
  margin-top: 15px;
}
/* line 40, ../scss/linetop-aq_mw.scss */
.concept__list__item.s_itemconcept {
  background-image: url('/images/aq_mw/bg_concept_skincare.jpg?1458808213');
}
/* line 43, ../scss/linetop-aq_mw.scss */
.concept__list__item.b_itemconcept {
  background-image: url('/images/aq_mw/bg_concept_base.jpg?1458808205');
}
/* line 46, ../scss/linetop-aq_mw.scss */
.concept__list__item.m_itemconcept {
  background-image: url('/images/aq_mw/bg_concept_point.jpg?1458808210');
}
/* line 49, ../scss/linetop-aq_mw.scss */
.concept__list__item a {
  border: 1px solid #fff;
  color: #fff;
  width: 200px;
  margin: 20px auto 0;
  line-height: 2;
}

/* concept */
/* line 65, ../scss/linetop-aq_mw.scss */
.news .news-201604_shower {
  background-image: url('/images/aq_mw/news_01.jpg?1458808240');
}
/* line 67, ../scss/linetop-aq_mw.scss */
.news .news-201604_shower a {
  margin-left: 533px;
  margin-top: 130px;
}
/* line 70, ../scss/linetop-aq_mw.scss */
.news .news-201604_shower a .title {
  font-size: 25px;
}
/* line 73, ../scss/linetop-aq_mw.scss */
.news .news-201604_shower a .lead {
  font-size: 35px;
  line-height: 57px;
}
/* line 79, ../scss/linetop-aq_mw.scss */
.news .news-201604_ardeflule {
  background-image: url('/images/aq_mw/news_02.jpg?1458808241');
}
/* line 81, ../scss/linetop-aq_mw.scss */
.news .news-201604_ardeflule a {
  margin-top: 345px;
}
/* line 85, ../scss/linetop-aq_mw.scss */
.news .news-201604_neckrenew {
  background-image: url('/images/aq_mw/news_03.jpg?1458808244');
}
/* line 87, ../scss/linetop-aq_mw.scss */
.news .news-201604_neckrenew a {
  margin-top: 345px;
}

/* news */
/* line 94, ../scss/linetop-aq_mw.scss */
.makeuppattern__theme {
  font-family: hy;
  font-size: 24px;
  margin-top: 80px;
  text-align: center;
}
/* line 100, ../scss/linetop-aq_mw.scss */
.makeuppattern__list {
  overflow: hidden;
  *zoom: 1;
  margin-top: 70px;
  text-align: center;
}
/* line 104, ../scss/linetop-aq_mw.scss */
.makeuppattern__list__item {
  display: inline-block;
  margin: 0 40px;
  text-align: center;
  font-family: hy;
  font-size: 14px;
}
/* line 111, ../scss/linetop-aq_mw.scss */
.makeuppattern__list__item em {
  font-size: 18px;
  line-height: 30px;
}
/* line 116, ../scss/linetop-aq_mw.scss */
.makeuppattern__list__item span {
  border: 1px solid #e6e6e6;
  display: block;
  margin-top: 10px;
}
/* line 120, ../scss/linetop-aq_mw.scss */
.makeuppattern__list__item span img {
  vertical-align: bottom;
}

/* line 127, ../scss/linetop-aq_mw.scss */
.dispModal {
  background-color: #FFF;
}
/* line 129, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 50px;
  width: 1140px;
}
/* line 135, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme__title {
  font-family: hy;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}
/* line 141, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme__title em {
  font-size: 24px;
  margin-bottom: 15px;
}
/* line 146, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .l-left {
  float: left;
}
/* line 149, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .l-right {
  float: right;
}
/* line 152, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouttheme {
  width: 362px;
}
/* line 155, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouttheme__image {
  border: 1px solid #e6e6e6;
  display: block;
}
/* line 158, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouttheme__image img {
  vertical-align: bottom;
}
/* line 163, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouttheme__text {
  font-size: 12px;
  line-height: 20px;
  margin-top: 27px;
}
/* line 169, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouteyecolor {
  overflow: hidden;
  *zoom: 1;
  width: 640px;
}
/* line 172, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouteyecolor__image {
  width: 323px;
}
/* line 175, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .abouteyecolor__text {
  font-size: 12px;
  line-height: 20px;
  width: 310px;
}
/* line 181, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .makedata {
  overflow: hidden;
  *zoom: 1;
  margin-top: 80px;
}
/* line 184, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .makedata__title {
  border-bottom: 1px solid #000;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
/* line 190, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .makedata__cat {
  font-size: 12px;
  margin-top: 20px;
  width: 320px;
}
/* line 195, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .makedata__list {
  width: 320px;
}
/* line 197, ../scss/linetop-aq_mw.scss */
.dispModal .maketheme .makedata__list__item {
  font-size: 12px;
  line-height: 20px;
}

/* skincaresystem steplink */
/* line 208, ../scss/linetop-aq_mw.scss */
.steplink .l-steplink__container {
  background-image: url(../images/aq_mw/bg_system.gif);
  height: 334px;
}
/* line 212, ../scss/linetop-aq_mw.scss */
.steplink__title-personal {
  left: 15px;
  top: 239px;
}
/* line 216, ../scss/linetop-aq_mw.scss */
.steplink .l-step1__head {
  left: 11px;
  top: 37px;
}
/* line 220, ../scss/linetop-aq_mw.scss */
.steplink .l-step2__head {
  left: 239px;
  top: 37px;
}
/* line 224, ../scss/linetop-aq_mw.scss */
.steplink .l-step3__head {
  left: 466px;
  top: 37px;
}
/* line 228, ../scss/linetop-aq_mw.scss */
.steplink .l-step4__head {
  left: 692px;
  top: 37px;
}
/* line 232, ../scss/linetop-aq_mw.scss */
.steplink .l-step1__link1 {
  left: 41px;
  top: 84px;
}
/* line 235, ../scss/linetop-aq_mw.scss */
.steplink .l-step1__link1 a {
  padding-top: 25px !important;
}
/* line 239, ../scss/linetop-aq_mw.scss */
.steplink .l-step1__link2 {
  left: 157px;
  top: 242px;
}
/* line 243, ../scss/linetop-aq_mw.scss */
.steplink .l-step2__link1 {
  left: 267px;
  top: 84px;
}
/* line 247, ../scss/linetop-aq_mw.scss */
.steplink .l-step2__link2 {
  left: 377px;
  top: 242px;
}
/* line 251, ../scss/linetop-aq_mw.scss */
.steplink .l-step3__link1 {
  left: 493px;
  top: 84px;
}
/* line 255, ../scss/linetop-aq_mw.scss */
.steplink .l-step3__link2 {
  left: 595px;
  top: 242px;
}
/* line 259, ../scss/linetop-aq_mw.scss */
.steplink .l-step4__link1 {
  left: 719px;
  top: 84px;
}
/* line 262, ../scss/linetop-aq_mw.scss */
.steplink .l-step4__link1 a {
  padding-top: 25px !important;
}
/* line 266, ../scss/linetop-aq_mw.scss */
.steplink .l-all__link1 {
  left: 748px;
  top: 242px;
}

/* / skincaresystem steplink */
/*

sp---------------------------------------------------------------------------------------------

*/
@media screen and (max-width: 736px) {
  /* line 282, ../scss/linetop-aq_mw.scss */
  .keyvisual .l-container {
    width: auto;
  }
  /* line 285, ../scss/linetop-aq_mw.scss */
  .keyvisual h1 {
    background-image: none;
    text-indent: 0;
    height: auto;
    width: 100%;
  }
  /* line 290, ../scss/linetop-aq_mw.scss */
  .keyvisual h1 img {
    height: auto;
    width: 100%;
  }

  /* keyvisual */
  /* line 299, ../scss/linetop-aq_mw.scss */
  .concept__title {
    font-size: 20px;
  }
  /* line 302, ../scss/linetop-aq_mw.scss */
  .concept__list {
    margin-top: 20px;
  }
  /* line 304, ../scss/linetop-aq_mw.scss */
  .concept__list__item {
    position: relative;
  }
  /* line 306, ../scss/linetop-aq_mw.scss */
  .concept__list__item .title,
  .concept__list__item .copy {
    color: #FFF;
    display: block;
    font-family: hy;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  /* line 315, ../scss/linetop-aq_mw.scss */
  .concept__list__item .title {
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    top: 45%;
  }
  /* line 321, ../scss/linetop-aq_mw.scss */
  .concept__list__item .copy {
    margin-top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 13px;
    top: 60%;
  }
  /* line 329, ../scss/linetop-aq_mw.scss */
  .concept__list__item a {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 0;
    right: 0;
    bottom: 20px;
  }
  /* line 338, ../scss/linetop-aq_mw.scss */
  .concept__list__item.s_itemconcept {
    background-image: none;
  }
  /* line 341, ../scss/linetop-aq_mw.scss */
  .concept__list__item.b_itemconcept {
    background-image: none;
  }
  /* line 344, ../scss/linetop-aq_mw.scss */
  .concept__list__item.m_itemconcept {
    background-image: none;
  }

  /* concept */
  /* line 354, ../scss/linetop-aq_mw.scss */
  .makeuppattern__theme {
    font-family: hy;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
  }
  /* line 360, ../scss/linetop-aq_mw.scss */
  .makeuppattern__list {
    overflow: hidden;
    *zoom: 1;
    margin-top: 35px;
    text-align: center;
  }
  /* line 364, ../scss/linetop-aq_mw.scss */
  .makeuppattern__list__item {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 45%;
  }
  /* line 369, ../scss/linetop-aq_mw.scss */
  .makeuppattern__list__item a {
    color: #000;
    font-family: hy;
    font-size: 12px;
  }
  /* line 373, ../scss/linetop-aq_mw.scss */
  .makeuppattern__list__item a em {
    font-size: 14px;
    line-height: 2;
  }
  /* line 378, ../scss/linetop-aq_mw.scss */
  .makeuppattern__list__item span {
    display: block;
    margin-top: 10px;
  }
  /* line 381, ../scss/linetop-aq_mw.scss */
  .makeuppattern__list__item span img {
    width: 100%;
  }

  /* line 391, ../scss/linetop-aq_mw.scss */
  .dispModal {
    display: none;
  }
  /* line 393, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme {
    overflow: hidden;
    *zoom: 1;
    padding: 20px;
    width: auto;
  }
  /* line 397, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme__title {
    font-size: 13px;
    margin-bottom: 20px;
  }
  /* line 403, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .l-left {
    float: none;
  }
  /* line 406, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .l-right {
    float: none;
    margin-top: 30px;
  }
  /* line 410, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .abouttheme {
    width: auto;
  }
  /* line 413, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .abouttheme__image {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  /* line 417, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .abouttheme__image img {
    height: auto;
    width: 100%;
  }
  /* line 426, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .abouteyecolor {
    overflow: hidden;
    *zoom: 1;
    width: auto;
  }
  /* line 429, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .abouteyecolor__image {
    width: auto;
  }
  /* line 432, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .abouteyecolor__text {
    width: auto;
  }
  /* line 436, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .makedata {
    overflow: hidden;
    *zoom: 1;
    margin-top: 40px;
  }
  /* line 441, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .makedata__cat {
    width: auto;
  }
  /* line 444, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .makedata__list {
    width: auto;
  }
  /* line 450, ../scss/linetop-aq_mw.scss */
  .dispModal .maketheme .news__detail__body__close {
    border: 1px solid #000;
    width: 50%;
    margin: 10px auto 0;
    cursor: pointer;
  }

  /* skincaresystem steplink */
  /* line 461, ../scss/linetop-aq_mw.scss */
  .steplink .l-steplink__container {
    background-image: url(../images/aq_mw/sp/bg_system.gif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 471, ../scss/linetop-aq_mw.scss */
  .steplink__title-personal {
    left: 0;
    top: 0;
  }
  /* line 476, ../scss/linetop-aq_mw.scss */
  .steplink .l-step1__head {
    left: 10px;
    top: 28px;
  }
  /* line 480, ../scss/linetop-aq_mw.scss */
  .steplink .l-step2__head {
    left: 10px;
    top: 138px;
  }
  /* line 484, ../scss/linetop-aq_mw.scss */
  .steplink .l-step3__head {
    left: 10px;
    top: 237px;
  }
  /* line 488, ../scss/linetop-aq_mw.scss */
  .steplink .l-step4__head {
    left: 10px;
    top: 353px;
  }
  /* line 492, ../scss/linetop-aq_mw.scss */
  .steplink .l-step1__link1 {
    left: 10px;
    top: 45px;
  }
  /* line 495, ../scss/linetop-aq_mw.scss */
  .steplink .l-step1__link1 a {
    padding-top: 15px !important;
  }
  /* line 499, ../scss/linetop-aq_mw.scss */
  .steplink .l-step1__link2 {
    left: 150px;
    top: 100px;
  }
  /* line 503, ../scss/linetop-aq_mw.scss */
  .steplink .l-step2__link1 {
    left: 10px;
    top: 155px;
  }
  /* line 507, ../scss/linetop-aq_mw.scss */
  .steplink .l-step2__link2 {
    left: 150px;
    top: 202px;
  }
  /* line 511, ../scss/linetop-aq_mw.scss */
  .steplink .l-step3__link1 {
    left: 10px;
    top: 254px;
  }
  /* line 515, ../scss/linetop-aq_mw.scss */
  .steplink .l-step3__link2 {
    left: 150px;
    top: 315px;
  }
  /* line 519, ../scss/linetop-aq_mw.scss */
  .steplink .l-step4__link1 {
    left: 10px;
    top: 370px;
  }
  /* line 522, ../scss/linetop-aq_mw.scss */
  .steplink .l-step4__link1 a {
    padding-top: 15px !important;
  }
  /* line 526, ../scss/linetop-aq_mw.scss */
  .steplink .l-all__link1 {
    left: 150px;
    top: 412px;
  }

  /* / skincaresystem steplink */
}

/*# sourceMappingURL=linetop-aq_mw.css.map */
