
#l--embed-player__video {
    display: block;
    width: 100%;
}

.mainContainer {
    padding-top: 50px;
}
.keyvisual{
	position:relative;
}

.news {
    padding-bottom: 100px;
}

/* bescos badge position */
.keyvisual .l-container .bestcosme {
    top: 92px;
    right: 10%;
}


.keyvisual .l-container{
	position:relative;
}

.keyvisual .award{
    height: 150px;
    right: 138px;
    position: absolute;
    top: 96px;
    width: 150px;
}

.keyvisual .award img{
	width:100%;
	height:auto;
}



.concept .l-container{
	width:100%;
	margin: 0 auto;
	background-image: url('/images/ip_shot/bg_concept_01.jpg?1457673949');
    background-position: center;
    background-size: cover;
	padding-top:105px;
	padding-bottom:90px;
	text-align: center;
	
}

.concept__message__title{
	font-family: hy;
	font-size: 32px;
	color: #FFFFFF;

}

.concept__message__lead{
	font-family: hy;
	font-size: 22px;
	color: #FFFFFF;
	margin-top:40px;
}

.concept__message__link a {
    border: 1px solid #fff;
    color: #fff;
    width: 200px;
	margin: 20px auto 0;
	line-height: 2;
	display: block;
}
.product .itemlist {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.product__category__item {
    border-bottom: solid 1px #000000;
}

@media screen and (max-width: 736px) {
.keyvisual .l-container {
	width: auto
}
.keyvisual .l-container .bestcosme {
    top: 190px;
    right: 30px;
}
.keyvisual .l-container .bestcosme a {
    width: 80px;
}
.keyvisual h1 {
	background-image: none;
	text-indent: 0;
	height: auto;
	width: 100%
}
.keyvisual h1 img {
	height: auto;
	width: 100%
}


.keyvisual .award{
    height: 75px;
	width: 75px;
    left: 71%;
	top:36%;
    position: absolute;
}

.keyvisual .award img{
	width:100%;
	height:auto;
}


.concept__message__title{
	font-size: 20px;
  line-height: normal;
}

.concept__message__lead{
	font-size: 12px;
	margin-top: 30px;
}

.concept__message__lead span{
	display:inline-block;
	padding-bottom:0.5em;
}

.concept__message__text{
	font-size: 12px;
	margin-top: 35px;
}

.concept .l-container{
  height: 142px;
  background-size: cover;
  padding: 50px 0 30px;
  line-height: 20px;
  width:100%;
  margin-top:0;
}
.concept a {
  font-size: 10px;
  width: 100px;
  line-height: 20px;
  margin: 20px auto 0;
}

.product .itemlist {
    width: 150px;
}
.product .itemlist__item {
    width: 100%;
}
.product .itemlist__item__txt {
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    height: 60px;
}


}
