.mainContainer {
    padding-top: 50px;
}
/*
.keyvisual h1 {
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	text-transform: capitalize;
	background-image: url('/images/ever_crystal/kv.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 1200px;
	height: 700px
}
*/
.news {
    padding-bottom: 100px;
}
.concept__message__title{
	font-family: hy;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
}
.concept__message__lead{
	font-family: hy;
	font-size: 22px;
	margin-top: 50px;
	text-align: center;
  display: block;
}

.concept__message__text{
	font-family: hy;
	font-size: 16px;
	margin-top: 55px;
	text-align: center;
	line-height: 2.0em;
}

.concept {
  margin: 0;
  padding: 150px 0;
	background-image: url('/images/ever_crystal/bg_concept_01.jpg');
	background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.concept .l-container {
  margin: 0 auto auto;
  color: #000;
  padding: 0;
}
.concept__message__lead {
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 50px;
}
.concept__message__text {
  line-height: 28px;
}
.product {
}
.product .l-container {
  border-top: none;
}
.product .itemlist {
  width: 900px;
  margin: 0 auto;
}
.product__category__item {
    border-bottom: solid 1px #000000;
}


@media screen and (max-width: 736px) {
.l-container {
    margin-top: 0;
}
.keyvisual .l-container {
	width: auto
}
.keyvisual h1 {
	background-image: none;
	text-indent: 0;
	height: auto;
	width: 100%
}
.keyvisual h1 img {
	height: auto;
	width: 100%
}
.news {
    padding-bottom: 80px;
}
.concept {
  margin: 0;
  padding: 100px 0;
	background-image: url('/images/ever_crystal/sp/bg_concept_01.jpg');
  background-repeat: repeat-y;
  background-size: 100% auto;
	background-position: center top;
}
.concept__message__title{
	font-size: 20px;
  line-height: normal;
  width: 80%;
  margin: 0 auto 50px;
}

.concept__message__lead{
	font-size: 20px;
  margin: 0 auto 50px;
  width: 95%;
}
.concept__message__text{
	font-size: 14px;
  margin: 0 auto;
  width: 95%;
}

.product .itemlist {
  width: auto;
  margin: 0 auto;
}


}
