@charset "UTF-8";
/* smartphone layout break point*/
/* max width device : iPhone6 plus(Landscape) */
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?f1qrju");
  src: url("/fonts/icomoon.eot?f1qrju#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?f1qrju") format("truetype"), url("/fonts/icomoon.woff?f1qrju") format("woff"), url("/fonts/icomoon.svg?f1qrju#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hy';
  src: url("/fonts/hy.ttf");
}
/* line 12, ../sass/_font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_font.scss */
.icon-location:before {
  content: "\e902";
}

/* line 30, ../sass/_font.scss */
.icon-mobile:before {
  content: "\e914";
}

/* line 33, ../sass/_font.scss */
.icon-share2:before {
  content: "\e912";
}

/* line 36, ../sass/_font.scss */
.icon-facebook:before {
  content: "\e901";
}

/* line 39, ../sass/_font.scss */
.icon-windows:before {
  content: "\e904";
}

/* line 42, ../sass/_font.scss */
.icon-facebook2:before {
  content: "\e913";
}

/* line 45, ../sass/_font.scss */
.icon-twitter:before {
  content: "\e90b";
}

/* line 48, ../sass/_font.scss */
.icon-youtube:before {
  content: "\e910";
}

/* line 51, ../sass/_font.scss */
.icon-mobile2:before {
  content: "\e90f";
}

/* line 54, ../sass/_font.scss */
.icon-cross:before {
  content: "\e903";
}

/* line 57, ../sass/_font.scss */
.icon-chevron-thin-left:before {
  content: "\e905";
}

/* line 60, ../sass/_font.scss */
.icon-triangle-left:before {
  content: "\e908";
}

/* line 63, ../sass/_font.scss */
.icon-chevron-thin-down:before {
  content: "\e906";
}

/* line 66, ../sass/_font.scss */
.icon-triangle-down:before {
  content: "\e90a";
}

/* line 69, ../sass/_font.scss */
.icon-chevron-thin-right:before {
  content: "\e907";
}

/* line 72, ../sass/_font.scss */
.icon-triangle-right:before {
  content: "\e90d";
}

/* line 75, ../sass/_font.scss */
.icon-chevron-thin-up:before {
  content: "\e909";
}

/* line 78, ../sass/_font.scss */
.icon-triangle-up:before {
  content: "\e90e";
}

/* line 81, ../sass/_font.scss */
.icon-mail-envelope-closed:before {
  content: "\e915";
}

/* line 84, ../sass/_font.scss */
.icon-search:before {
  content: "\e911";
}

/* line 87, ../sass/_font.scss */
.icon-menu2:before {
  content: "\e90c";
}

/* line 90, ../sass/_font.scss */
.icon-search2:before {
  content: "\e900";
}

/* line 5, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/main.scss */
h1, h2, h3, h4, h5, h6, p, li, dt, dd, th, td, address {
  font-family: hy;
}

/* line 16, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/main.scss */
.l--modal-trigger {
  cursor: pointer;
}

/* line 25, ../sass/main.scss */
.l--modal-wall {
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#90ffffff,EndColorStr=#90ffffff);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* line 36, ../sass/main.scss */
.l--modal-wall.m--mode-black {
  background-color: rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#75000000,EndColorStr=#75000000);
}

/* line 42, ../sass/main.scss */
.l--modal-clone {
  border: solid 1px #dddddd;
  display: none;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
}
/* line 53, ../sass/main.scss */
.l--modal-clone .togglebox {
  position: relative;
}
/* line 57, ../sass/main.scss */
.l--modal-clone .togglebox__popup {
  bottom: 22px;
  left: 0;
  position: absolute;
}
/* line 63, ../sass/main.scss */
.l--modal-clone .togglebox__popup .togglebox__text-container {
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px;
  background-color: #fff;
  display: block;
  overflow: auto;
  padding: 0 16px;
  position: relative;
  width: 90%;
}

/* line 76, ../sass/main.scss */
.l--modal-window {
  display: none;
}
/* line 80, ../sass/main.scss */
.l--modal-window__close {
  background-image: url('/images/parts/g3005.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
}
/* line 92, ../sass/main.scss */
.l--modal-window__close:after {
  content: "CLOSE";
  font-size: 12px;
  font-family: hy;
  position: absolute;
  right: -4px;
  top: 45px;
}

/* line 102, ../sass/main.scss */
.l--liposome-movie {
  background-color: rgba(0, 0, 0, 0.9);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#90000000,EndColorStr=#90000000);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
/* line 114, ../sass/main.scss */
.l--liposome-movie__container {
  position: relative;
}
/* line 118, ../sass/main.scss */
.l--liposome-movie__close {
  cursor: pointer;
  position: absolute;
  right: 32px;
  top: 32px;
}

@media screen and (min-width: 737px) {
  /* line 128, ../sass/main.scss */
  .pc {
    display: block;
  }

  /* line 131, ../sass/main.scss */
  .sp {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  /* line 136, ../sass/main.scss */
  .pc {
    display: none;
  }

  /* line 139, ../sass/main.scss */
  .sp {
    display: block;
  }

  /* line 142, ../sass/main.scss */
  body {
    min-width: 320px;
  }

  /* line 147, ../sass/main.scss */
  .l--modal-window__close {
    height: 16px;
    width: 16px;
  }
  /* line 151, ../sass/main.scss */
  .l--modal-window__close:after {
    font-size: 10px;
    right: -8px;
    top: 24px;
  }
}
/* line 3, ../sass/_header.scss */
.global-header {
  background-color: rgba(255, 255, 255, 0.9);
  background-color: #FFFFFF\9;
  border-bottom: 1px solid #e5e5e5;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
/* line 17, ../sass/_header.scss */
.global-header__logo__link {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/header/logo.png?1458808382');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 137px;
  height: 25px;
  display: block;
}
/* line 24, ../sass/_header.scss */
.global-header * {
  -webkit-tap-highlight-color: transparent;
}

/* line 26, ../sass/_header.scss */
.l--global-header-modal {
  background-color: rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#75000000,EndColorStr=#75000000);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 40, ../sass/_header.scss */
.l--popular-ranking-menu__anchors__node {
  color: #000000;
}

/* line 48, ../sass/_header.scss */
.l--line-list-thumbs__container {
  overflow: hidden;
  *zoom: 1;
}
/* line 52, ../sass/_header.scss */
.l--line-list-thumbs__preview {
  float: left;
  margin-left: 25px;
}
/* line 57, ../sass/_header.scss */
.l--line-list-thumbs__preview__container {
  height: 150px;
  text-align: center;
  width: 150px;
}
/* line 63, ../sass/_header.scss */
.l--line-list-thumbs__preview__container img {
  max-height: 100%;
  max-width: 100%;
}
/* line 70, ../sass/_header.scss */
.l--line-list-thumbs__links {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /*width: 1160px;*//* 1160 is for 7 items */
  width: 860px; /* 840 is for 5 items */
}
/* line 78, ../sass/_header.scss */
.l--line-list-thumbs__links__node {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 51px;
  position: relative;
  vertical-align: middle;
  width: 165px;
}
/* line 90, ../sass/_header.scss */
.l--line-list-thumbs__links__node img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}
/* line 100, ../sass/_header.scss */
.l--line-list-thumbs__links__node .text {
  bottom: 0;
  color: #000;
  display: block;
  font-family: hy;
  height: 1em;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
}
/* line 113, ../sass/_header.scss */
.l--line-list-thumbs__links__node:hover {
  border: solid 1px #dddddd;
}

/* line 125, ../sass/_header.scss */
.l--line-list-others__head {
  border-top: 1px solid #e5e5e5;
  font-family: hy;
  margin: 30px auto 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 180px;
}
/* line 134, ../sass/_header.scss */
.l--line-list-others__links {
  display: none;
}
/* line 138, ../sass/_header.scss */
.l--line-list-others__links__container {
  display: table;
  margin: 0 auto;
  table-layout: fixed;
}
/* line 144, ../sass/_header.scss */
.l--line-list-others__links__node {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: solid 1px transparent;
  display: table-cell;
  height: 51px;
  vertical-align: middle;
  width: 165px;
}
/* line 153, ../sass/_header.scss */
.l--line-list-others__links__node:hover {
  border: solid 1px #e5e5e5;
}
/* line 157, ../sass/_header.scss */
.l--line-list-others__links__node:nth-child(5) {
  padding-bottom: 4px;
}

@media screen and (min-width: 737px) {
  /* line 169, ../sass/_header.scss */
  .global-header__container {
    overflow: hidden;
    *zoom: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 1200px;
  }
  /* line 178, ../sass/_header.scss */
  .global-header__logo {
    float: left;
    margin-left: 29px;
    margin-top: 10px;
  }
  /* line 184, ../sass/_header.scss */
  .global-header__mobile-triggers {
    display: none;
  }
  /* line 188, ../sass/_header.scss */
  .global-header__nav {
    float: left;
  }
  /* line 193, ../sass/_header.scss */
  .global-header__nav__list {
    overflow: hidden;
    *zoom: 1;
    margin-left: 24px;
    margin-top: 13px;
  }
  /* line 199, ../sass/_header.scss */
  .global-header__nav__list__item {
    float: left;
    height: 50px;
    margin-left: 16px;
  }
  /* line 205, ../sass/_header.scss */
  .global-header__nav__list__item.m--type-product {
    margin-left: 0;
  }
  /* line 209, ../sass/_header.scss */
  .global-header__nav__list__item.m--type-menu {
    display: none;
  }
  /* line 214, ../sass/_header.scss */
  .global-header__nav__list__item__link {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: hy;
    padding: .4em;
    position: relative;
    text-decoration: none;
  }
  /* line 225, ../sass/_header.scss */
  .global-header__nav__list__item__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: #000;
    transition: all .3s ease;
  }
  /* line 240, ../sass/_header.scss */
  .global-header__nav__list__item__link:hover::after {
    transform: scaleX(1);
  }
  /* line 246, ../sass/_header.scss */
  .global-header__nav__list__item__link i {
    display: none;
  }
  /* line 250, ../sass/_header.scss */
  .global-header__nav__list__item .l--products-menu,
  .global-header__nav__list__item .l--header-submenu {
    display: none;
  }
  /* line 257, ../sass/_header.scss */
  .global-header__nav__list__item.m--active .l--products-menu {
    display: block;
  }
  /* line 258, ../sass/_header.scss */
  .global-header__nav__list__item.m--active .l--header-submenu {
    display: block;
  }
  /* line 262, ../sass/_header.scss */
  .global-header__nav__others {
    display: none;
    width: 100%;
  }
  /* line 267, ../sass/_header.scss */
  .global-header__nav__others__container {
    border: solid 1px #dddddd;
    margin: 0 auto;
    padding: 16px;
    width: 70%;
  }
  /* line 274, ../sass/_header.scss */
  .global-header__nav__others__header, .global-header__nav__others__body, .global-header__nav__others__footer {
    text-align: center;
  }
  /* line 280, ../sass/_header.scss */
  .global-header__nav__others__body {
    padding: 16px 0;
  }
  /* line 284, ../sass/_header.scss */
  .global-header__nav__others__body__link {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    color: #000000;
    font-size: .8em;
    padding: 4px 8px;
  }
  /* line 291, ../sass/_header.scss */
  .global-header__nav__others__body__link:hover {
    color: #888888;
  }
  /* line 296, ../sass/_header.scss */
  .global-header__nav__others__footer__container {
    border-top: solid 1px #dddddd;
    margin: 0 auto;
    padding-top: 16px;
    width: 210px;
  }
  /* line 303, ../sass/_header.scss */
  .global-header__nav__others__footer__link {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin: 0 4px;
  }
  /* line 309, ../sass/_header.scss */
  .global-header__nav__others__footer__link .icon_circle {
    background-color: #000;
    border-radius: 50%;
    display: block;
    height: 30px;
    margin: auto;
    width: 30px;
  }
  /* line 316, ../sass/_header.scss */
  .global-header__nav__others__footer__link .icon_circle .icon {
    color: #FFF;
    line-height: 30px;
    font-size: 14px;
  }
  /* line 321, ../sass/_header.scss */
  .global-header__nav__others__footer__link .icon_circle .text {
    font-family: hy;
    font-size: 17px;
  }
  /* line 329, ../sass/_header.scss */
  .global-header__nav__others__footer__text {
    display: block;
    font-size: .8em;
    text-align: center;
  }
  /* line 337, ../sass/_header.scss */
  .global-header__nav__notice {
    display: none;
    width: 100%;
  }
  /* line 342, ../sass/_header.scss */
  .global-header__nav__notice__container {
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: .8em;
    line-height: 1.4em;
    margin: 0 auto;
    padding: 16px;
  }
  /* line 351, ../sass/_header.scss */
  .global-header__nav__mobile-menu-close-trigger {
    display: none;
  }
  /* line 356, ../sass/_header.scss */
  .global-header__search {
    float: left;
    margin-left: 256px;
    width: 128px;
  }
  /* line 362, ../sass/_header.scss */
  .global-header__search__container {
    border-bottom: 1px solid #DDD;
    overflow: hidden;
  }
  /* line 367, ../sass/_header.scss */
  .global-header__search__input {
    background: none;
    border: none;
    box-sizing: border-box;
    height: 25px;
    margin-right: 0;
    width: 100px;
  }
  /* line 375, ../sass/_header.scss */
  .global-header__search__input:focus {
    border-color: #000;
    outline: none;
  }
  /* line 382, ../sass/_header.scss */
  .global-header__search__submit, .global-header__search__close {
    position: absolute;
    top: -200%;
    visibility: hidden;
  }
  /* line 390, ../sass/_header.scss */
  .global-header__social {
    float: left;
    margin-left: 16px;
  }
  /* line 395, ../sass/_header.scss */
  .global-header__social i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-color: #777777;
    border-radius: 50%;
    height: 20px;
    line-height: 17px;
    text-align: center;
    vertical-align: top;
    width: 20px;
  }
  /* line 404, ../sass/_header.scss */
  .global-header__social i:before {
    color: #FFF;
    font-size: 12px;
  }
  /* line 410, ../sass/_header.scss */
  .global-header__social .l--facebook-share-button,
  .global-header__social .l--tweet-button {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
  }
  /* line 416, ../sass/_header.scss */
  .global-header__social .l--desktop {
    display: inline;
  }
  /* line 417, ../sass/_header.scss */
  .global-header__social .l--mobile {
    display: none;
  }

  /* line 423, ../sass/_header.scss */
  .l--header-submenu .global-header__nav__others,
  .l--products-menu .global-header__nav__others {
    margin: 0 auto;
    max-width: 1200px;
  }
  /* line 427, ../sass/_header.scss */
  .l--header-submenu .global-header__nav__others__container,
  .l--products-menu .global-header__nav__others__container {
    width: 80%;
  }
  /* line 432, ../sass/_header.scss */
  .l--header-submenu .global-header__nav__notice,
  .l--products-menu .global-header__nav__notice {
    margin: 0 auto;
    max-width: 1200px;
  }
  /* line 436, ../sass/_header.scss */
  .l--header-submenu .global-header__nav__notice__container,
  .l--products-menu .global-header__nav__notice__container {
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    width: 60%;
  }
}
/* line 444, ../sass/_header.scss */
.global-header-mobile-search {
  display: none;
}

/*

sp---------------------------------------------------------------------------------------------

*/
@media screen and (max-width: 736px) {
  /* line 457, ../sass/_header.scss */
  .l--line-list-thumbs__preview {
    display: none;
  }

  /* line 464, ../sass/_header.scss */
  .global-header__logo {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
  }
  /* line 470, ../sass/_header.scss */
  .global-header__logo__link {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-image: url('/images/header/sp/logo.png?1458758409');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 274px;
    height: 50px;
    background-position: center;
    background-size: contain;
    display: block;
    height: 25px;
    margin: 0 auto;
    width: 180px;
  }
  /* line 481, ../sass/_header.scss */
  .global-header__mobile-triggers {
    display: table;
    height: 50px;
    position: absolute;
    right: 56px;
    table-layout: fixed;
    top: 0;
    width: 76px;
  }
  /* line 491, ../sass/_header.scss */
  .global-header__mobile-triggers__container {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
  /* line 497, ../sass/_header.scss */
  .global-header__mobile-triggers__node {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    height: 25px;
    width: 20px;
    margin-left: 7px;
  }
  /* line 505, ../sass/_header.scss */
  .global-header__mobile-triggers__node.m--menu {
    height: 36px;
    line-height: 0;
    text-align: center;
    width: 32px;
  }
  /* line 511, ../sass/_header.scss */
  .global-header__mobile-triggers__node .icon-search2 {
    font-size: 20px;
    line-height: 25px;
  }
  /* line 515, ../sass/_header.scss */
  .global-header__mobile-triggers__node .icon-menu2 {
    font-size: 24px;
    line-height: 25px;
  }
  /* line 519, ../sass/_header.scss */
  .global-header__mobile-triggers__node img {
    height: 100%;
  }
  /* line 521, ../sass/_header.scss */
  .global-header__mobile-triggers__text {
    height: 5px;
    display: inline-block;
  }
  /* line 527, ../sass/_header.scss */
  .global-header__nav {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#75000000,EndColorStr=#75000000);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  /* line 540, ../sass/_header.scss */
  .global-header__nav i {
    float: right;
    margin-right: 7px;
  }
  /* line 545, ../sass/_header.scss */
  .global-header__nav__container {
    background-color: #ffffff;
    height: 100%;
    margin-left: 100%;
    overflow: auto;
    position: relative;
  }
  /* line 555, ../sass/_header.scss */
  .global-header__nav__list__item {
    border-top: solid 1px #dddddd;
  }
  /* line 559, ../sass/_header.scss */
  .global-header__nav__list__item .m--dropdown {
    cursor: pointer;
    position: relative;
  }
  /* line 564, ../sass/_header.scss */
  .global-header__nav__list__item__link {
    color: #000000;
    display: block;
    font-family: hy;
    padding: 16px 0;
    text-indent: 1em;
  }
  /* line 572, ../sass/_header.scss */
  .global-header__nav__list__item.m--type-menu {
    font-size: .8em;
    text-align: center;
  }
  /* line 581, ../sass/_header.scss */
  .global-header__nav__others__container {
    border: solid 1px #dddddd;
    margin: 16px;
    padding: 8px;
    text-align: center;
  }
  /* line 588, ../sass/_header.scss */
  .global-header__nav__others__header__content, .global-header__nav__others__body__link {
    color: #000000;
    font-size: .8em;
    display: block;
    padding: 16px 0;
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  /* line 597, ../sass/_header.scss */
  .global-header__nav__others__header__content {
    border-bottom: solid 1px #dddddd;
    font-family: hy;
    font-size: 1em;
  }
  /* line 603, ../sass/_header.scss */
  .global-header__nav__others__body {
    padding: 8px 0;
  }
  /* line 610, ../sass/_header.scss */
  .global-header__nav__others__footer {
    border-top: solid 1px #dddddd;
    padding: 8px 0;
  }
  /* line 615, ../sass/_header.scss */
  .global-header__nav__others__footer__link {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 3%;
    width: 40px;
  }
  /* line 621, ../sass/_header.scss */
  .global-header__nav__others__footer__link .icon_circle {
    background-color: #000;
    border-radius: 50%;
    display: block;
    height: 30px;
    margin: auto;
    width: 30px;
  }
  /* line 628, ../sass/_header.scss */
  .global-header__nav__others__footer__link .icon_circle .icon {
    color: #FFF;
    line-height: 30px;
    font-size: 14px;
  }
  /* line 633, ../sass/_header.scss */
  .global-header__nav__others__footer__link .icon_circle .text {
    font-family: hy;
    font-size: 17px;
  }
  /* line 639, ../sass/_header.scss */
  .global-header__nav__others__footer__link img {
    width: 100%;
  }
  /* line 645, ../sass/_header.scss */
  .global-header__nav__notice__container {
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: .8em;
    line-height: 1.4em;
    margin: 16px;
    padding: 8px;
  }
  /* line 654, ../sass/_header.scss */
  .global-header__nav__mobile-menu-close-trigger {
    cursor: pointer;
    display: none;
    left: 0;
    padding: 8px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 64px;
  }
  /* line 665, ../sass/_header.scss */
  .global-header__nav__mobile-menu-close-trigger img {
    width: 80%;
  }
  /* line 668, ../sass/_header.scss */
  .global-header__search {
    display: none;
  }
  /* line 672, ../sass/_header.scss */
  .global-header__social {
    position: absolute;
    right: 8px;
    top: 0px;
  }
  .social-share .icon-wechat .wechat-qrcode{
    left: 100%;
  }
  /* line 678, ../sass/_header.scss */
  .global-header__social i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-color: #777777;
    border-radius: 50%;
    height: 20px;
    line-height: 17px;
    text-align: center;
    vertical-align: top;
    width: 20px;
  }
  /* line 687, ../sass/_header.scss */
  .global-header__social i:before {
    color: #FFF;
    font-size: 12px;
  }
  /* line 693, ../sass/_header.scss */
  .global-header__social .l--facebook-share-button,
  .global-header__social .l--tweet-button {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    text-align: right;
    width: 32px;
  }
  /* line 701, ../sass/_header.scss */
  .global-header__social .l--facebook-share-button img,
  .global-header__social .l--tweet-button img {
    height: 100%;
  }
  /* line 703, ../sass/_header.scss */
  .global-header__social .l--desktop {
    display: none;
  }
  /* line 704, ../sass/_header.scss */
  .global-header__social .l--mobile {
    display: inline;
  }

  /* line 707, ../sass/_header.scss */
  .global-header__nav__list__item.m--active {
    /*
    .l--products-menu,
    .l--header-submenu
    {
        display: block;
    }
    */
  }
  /* line 716, ../sass/_header.scss */
  .global-header__nav__list__item.m--active .global-header__nav__list__item__container {
    border-bottom: solid 1px #dddddd;
  }

  /* line 718, ../sass/_header.scss */
  .l--header-submenu {
    display: none;
  }
  /* line 724, ../sass/_header.scss */
  .l--header-submenu .l--news-links__container {
    margin-left: 1em;
  }
  /* line 728, ../sass/_header.scss */
  .l--header-submenu .l--news-links__link {
    border-bottom: solid 1px #dddddd;
    color: #000000;
    display: block;
    font-family: hy;
    padding: 16px 0;
    text-indent: 1em;
  }
  /* line 737, ../sass/_header.scss */
  .l--header-submenu .l--news-links__link:nth-last-child(1) {
    border: none;
  }

  /* line 744, ../sass/_header.scss */
  .l--products-menu {
    display: none;
  }
  /* line 750, ../sass/_header.scss */
  .l--products-menu__categories__container {
    margin-left: 1em;
  }
  /* line 754, ../sass/_header.scss */
  .l--products-menu__categories__node {
    border-bottom: solid 1px #dddddd;
    /*
    &.m--active
    {
        .l--products-menu__categories__node__contents { display: block;  }
    }
    &.m--type-line.m--active
    {
        .l--products-menu__categories__node__contents { display: none;  }
    }
    */
  }
  /* line 760, ../sass/_header.scss */
  .l--products-menu__categories__node:nth-child(1) .l--products-category__items__item:nth-child(1) .l--products-category__items__item__node:nth-child(8):after, .l--products-menu__categories__node:nth-child(1) .l--products-category__items__item:nth-child(2) .l--products-category__items__item__node:nth-child(6):after, .l--products-menu__categories__node:nth-child(1) .l--products-category__items__item:nth-child(5) .l--products-category__items__item__node:nth-child(4):after, .l--products-menu__categories__node:nth-child(1) .l--products-category__items__item:nth-child(6) .l--products-category__items__item__node:nth-child(2):after {
    background-color: #999999;
    bottom: -1px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  /* line 776, ../sass/_header.scss */
  .l--products-menu__categories__node:nth-child(2) .l--products-category__items__item:nth-child(2) .l--products-category__items__item__node:nth-child(10):after {
    background-color: #999999;
    bottom: -1px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  /* line 787, ../sass/_header.scss */
  .l--products-menu__categories__node:nth-last-child(1) {
    border: none;
  }
  /* line 793, ../sass/_header.scss */
  .l--products-menu__categories__node__head__contents {
    color: #000000;
    display: block;
    font-family: hy;
    padding: 16px 0;
    text-indent: 1em;
  }
  /* line 802, ../sass/_header.scss */
  .l--products-menu__categories__node__contents {
    display: none;
  }

  /* line 823, ../sass/_header.scss */
  .l--popular-ranking-menu__anchors__node {
    background-color: #dddddd;
    color: #000000;
    display: block;
    font-size: .8em;
    padding: 16px 0;
    text-align: center;
  }
  /* line 835, ../sass/_header.scss */
  .l--popular-ranking-menu__best__link {
    background-color: #dddddd;
    color: #000000;
    display: block;
    font-size: .8em;
    padding: 16px 0;
    text-align: center;
  }

  /* line 846, ../sass/_header.scss */
  .l--products-category {
    background-color: #dddddd;
    text-align: center;
  }
  /* line 851, ../sass/_header.scss */
  .l--products-category__preview {
    display: none;
  }
  /* line 857, ../sass/_header.scss */
  .l--products-category__items__item {
    /*
    border-bottom   : solid 1px #ffffff;
    */
    font-size: .8em;
    /*
    &__container.m--active
    {
        .l--products-category__items__item__contents { display: block;  }
    }
    */
  }
  /* line 864, ../sass/_header.scss */
  .l--products-category__items__item:nth-last-child(1) {
    border: none;
  }
  /* line 868, ../sass/_header.scss */
  .l--products-category__items__item__head {
    padding: 16px 0;
  }
  /* line 872, ../sass/_header.scss */
  .l--products-category__items__item__contents {
    overflow: hidden;
    *zoom: 1;
    background-color: #888888;
    display: none;
  }
  /* line 884, ../sass/_header.scss */
  .l--products-category__items__item__node {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-top: solid 1px #999999;
    color: #ffffff;
    float: left;
    font-size: 9px;
    padding: 16px 0;
    position: relative;
    width: 50%;
  }
  /* line 895, ../sass/_header.scss */
  .l--products-category__items__item__node:nth-child(odd) {
    clear: both;
  }
  /* line 899, ../sass/_header.scss */
  .l--products-category__items__item__node:nth-child(odd):after {
    background-color: #999999;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
  /* line 911, ../sass/_header.scss */
  .l--products-category__items__item__hr {
    background-color: #ffffff;
    height: 1px;
    display: block;
    width: 100%;
  }

  /*
  .m--active
  {
      >.m--dropdown
      {
          &:after
          {
              background-image: image-url("header/sp/arrow_close.png");
          }
      }
  }
  */
}
/* line 934, ../sass/_header.scss */
.global-header-mobile-search {
  background-color: #ffffff;
  display: table;
  height: 50px;
  left: 0;
  position: fixed;
  table-layout: fixed;
  top: -50px;
  width: 100%;
  z-index: 20;
}
/* line 946, ../sass/_header.scss */
.global-header-mobile-search__container {
  display: table-cell;
  padding: 0 16px;
  vertical-align: middle;
}
/* line 951, ../sass/_header.scss */
.global-header-mobile-search__container:before {
  content: "\e900";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  font-size: 18px;
}
/* line 966, ../sass/_header.scss */
.global-header-mobile-search__input {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #DDD;
  border-radius: 0;
  height: 25px;
  width: 195px;
}
/* line 975, ../sass/_header.scss */
.global-header-mobile-search__input:focus {
  border-color: #000;
}
/* line 980, ../sass/_header.scss */
.global-header-mobile-search__submit {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 4px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 990, ../sass/_header.scss */
.global-header-mobile-search__close {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  height: 1em;
  margin-left: 8px;
}
/* line 996, ../sass/_header.scss */
.global-header-mobile-search__close .icon-cross {
  font-size: 20px;
  line-height: 18px;
}
/* line 1001, ../sass/_header.scss */
.global-header-mobile-search__close img {
  height: 100%;
}

@media screen and (min-width: 737px) {
  /* line 8, ../sass/_headerProductsMenu.scss */
  .l--products-category__preview {
    float: left;
    margin-left: 25px;
  }
  /* line 13, ../sass/_headerProductsMenu.scss */
  .l--products-category__preview__container {
    height: 150px;
    text-align: center;
    width: 150px;
  }
  /* line 19, ../sass/_headerProductsMenu.scss */
  .l--products-category__preview__container img {
    max-height: 100%;
    max-width: 100%;
  }
  /* line 28, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item {
    cursor: pointer;
    float: left;
    width: 16%;
  }
  /* line 34, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item:nth-child(2) .l--products-category__items__item__contents {
    left: -100%;
  }
  /* line 35, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item:nth-child(3) .l--products-category__items__item__contents {
    left: -200%;
  }
  /* line 36, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item:nth-child(4) .l--products-category__items__item__contents {
    left: -300%;
  }
  /* line 37, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item:nth-child(5) .l--products-category__items__item__contents {
    left: -400%;
  }
  /* line 38, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item:nth-child(6) .l--products-category__items__item__contents {
    left: -500%;
  }
  /* line 40, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item__contents {
    overflow: hidden;
    *zoom: 1;
    background-color: #dddddd;
    display: none;
    padding: 16px;
    position: relative;
    width: 600%;
  }
  /* line 49, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item__node {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    color: #000000;
    float: left;
    font-size: .8em;
    padding: 8px 0;
    position: relative;
    width: 20%;
  }
  /* line 59, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item__node:nth-child(-n+5) {
    /*
    border-bottom: solid 1px #ffffff;
    */
  }
  /* line 65, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item__node:nth-child(-n+4):after, .l--products-category__items__item__node:nth-child(n+6):not(:nth-child(n+10)):after {
    /*
    background-color: #ffffff;
    */
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
  /* line 83, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item:nth-child(4) .l--products-category__items__item__node, .l--products-category__items__item:nth-child(5) .l--products-category__items__item__node, .l--products-category__items__item:nth-child(6) .l--products-category__items__item__node {
    border-bottom: none;
  }
  /* line 88, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item__head {
    cursor: pointer;
    padding: 16px 0;
  }
  /* line 93, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item__head__contents {
    cursor: pointer;
  }
  /* line 101, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item.m--active .l--products-category__items__item__head {
    position: relative;
  }
  /* line 105, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item.m--active .l--products-category__items__item__head:before {
    border-bottom: 10px solid #dddddd;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
  }
  /* line 118, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item.m--active .l--products-category__items__item__head__contents {
    color: #888888;
  }
  /* line 123, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item.m--active .l--products-category__items__item__contents {
    display: block;
  }
  /* line 129, ../sass/_headerProductsMenu.scss */
  .l--products-category__items__item.m--active .l--products-category__items__item__node:hover {
    background-color: #ffffff;
  }

  /* line 142, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-category__items {
    margin-left: 200px;
  }
  /* line 148, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-category__items__item.m--basemake .l--products-category__items__item__contents {
    left: -100%;
  }
  /* line 149, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-category__items__item.m--pointmake .l--products-category__items__item__contents {
    left: -200%;
  }
  /* line 150, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-category__items__item.m--fragrance .l--products-category__items__item__contents {
    left: -300%;
  }
  /* line 151, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-category__items__item.m--hairbody .l--products-category__items__item__contents {
    left: -400%;
  }
  /* line 152, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-category__items__item.m--accessary .l--products-category__items__item__contents {
    left: -300%;
  }
  /* line 157, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-category .l--products-menu__categories__node__contents:before, .l--products-menu__categories__node.m--type-category .l--products-menu__categories__node__contents:after {
    left: 12.5%;
  }
  /* line 166, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-menu__categories__node__contents {
    left: -100%;
  }
  /* line 170, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-menu__categories__node__contents:before, .l--products-menu__categories__node.m--type-purpose .l--products-menu__categories__node__contents:after {
    left: 37.5%;
  }
  /* line 180, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item.m--skincare {
    margin-left: 34%;
  }
  /* line 184, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item.m--skincare .l--products-category__items__item__contents {
    left: -208%;
  }
  /* line 191, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item.m--basemake .l--products-category__items__item__contents {
    left: -308%;
  }
  /* line 198, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item__node:nth-child(n+6):not(:nth-child(n+11)) {
    /*
    border-bottom: solid 1px #ffffff;
    */
  }
  /* line 204, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item__node:nth-child(n+11):not(:nth-child(n+15)):after {
    /*
    background-color: #ffffff;
    */
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
  /* line 217, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item:nth-child(1) {
    margin-left: 34%;
  }
  /* line 221, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item:nth-child(1) .l--products-category__items__item__contents {
    left: -208%;
  }
  /* line 228, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-purpose .l--products-category__items__item:nth-child(2) .l--products-category__items__item__contents {
    left: -308%;
  }
  /* line 238, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-line .l--products-menu__categories__node__contents {
    left: -200%;
  }
  /* line 242, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-line .l--products-menu__categories__node__contents:before, .l--products-menu__categories__node.m--type-line .l--products-menu__categories__node__contents:after {
    left: 62.5%;
  }
  /* line 251, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-popular .l--products-menu__categories__node__contents {
    left: -300%;
  }
  /* line 255, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--type-popular .l--products-menu__categories__node__contents:before, .l--products-menu__categories__node.m--type-popular .l--products-menu__categories__node__contents:after {
    left: 87.5%;
  }

  /* line 265, ../sass/_headerProductsMenu.scss */
  .l--popular-ranking-menu__anchors {
    line-height: 80px;
  }
  /* line 269, ../sass/_headerProductsMenu.scss */
  .l--popular-ranking-menu__anchors__node {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 16px;
  }
  /* line 277, ../sass/_headerProductsMenu.scss */
  .l--popular-ranking-menu__best__link {
    border-top: solid 1px #ddd;
    color: #000000;
    line-height: 80px;
    padding-top: 28px;
  }

  /* line 286, ../sass/_headerProductsMenu.scss */
  .l--header-submenu {
    /*background-color: rgba(255,255,255,.9);*/
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#90ffffff,EndColorStr=#90ffffff);*/
    background-color: #ffffff;
    border-top: solid 1px #dddddd;
    display: none;
    left: 0;
    padding-bottom: 32px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  /* line 299, ../sass/_headerProductsMenu.scss */
  .l--header-submenu__container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1040px;
  }
  /* line 307, ../sass/_headerProductsMenu.scss */
  .l--header-submenu .l--news-links__container {
    overflow: hidden;
    *zoom: 1;
    margin: 0 auto 50px;
    padding: 16px 0;
    width: 80%;
  }
  /* line 314, ../sass/_headerProductsMenu.scss */
  .l--header-submenu .l--news-links__link {
    color: #000000;
    float: left;
    display: block;
    font-family: hy;
    padding: 12px 0;
    text-align: center;
    width: 33%;
  }
  /* line 324, ../sass/_headerProductsMenu.scss */
  .l--header-submenu .l--news-links__link:hover {
    color: #888888;
  }

  /* line 328, ../sass/_headerProductsMenu.scss */
  .l--products-menu {
    /*background-color: rgba(255,255,255,.9);*/
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#90ffffff,EndColorStr=#90ffffff);*/
    background-color: #ffffff;
    border-top: solid 1px #dddddd;
    left: 0;
    padding-bottom: 32px;
    position: absolute;
    top: 100%;
    width: 100%;
    /* __categories */
  }
  /* line 340, ../sass/_headerProductsMenu.scss */
  .l--products-menu a:hover {
    color: #888888;
  }
  /* line 344, ../sass/_headerProductsMenu.scss */
  .l--products-menu__container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1040px;
  }
  /* line 352, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__container {
    overflow: hidden;
    *zoom: 1;
    height: 414px;
  }
  /* line 357, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node {
    cursor: pointer;
    float: left;
    padding: 12px 0;
    position: relative;
    text-align: center;
    width: 25%;
  }
  /* line 366, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node__head {
    cursor: pointer;
    padding: 16px 0;
  }
  /* line 371, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node__head__contents {
    color: #000000;
    cursor: pointer;
    font-family: hy;
  }
  /* line 378, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node__contents {
    border-top: solid 1px #dddddd;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 400%;
  }
  /* line 387, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node__contents__container {
    overflow: hidden;
    *zoom: 1;
    padding-top: 24px;
  }
  /* line 395, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--active .l--products-menu__categories__node__head__contents {
    color: #888888;
  }
  /* line 399, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--active .l--products-menu__categories__node__contents {
    display: block;
  }
  /* line 403, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--active .l--products-menu__categories__node__contents:before, .l--products-menu__categories__node.m--active .l--products-menu__categories__node__contents:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    margin-left: -5px;
    position: absolute;
    width: 0;
  }
  /* line 414, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--active .l--products-menu__categories__node__contents:before {
    border-bottom: 10px solid #dddddd;
    top: -10px;
  }
  /* line 419, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node.m--active .l--products-menu__categories__node__contents:after {
    border-bottom: 10px solid #ffffff;
    top: -8px;
  }
  /* line 427, ../sass/_headerProductsMenu.scss */
  .l--products-menu__categories__node i {
    display: none;
  }
}
/* line 3, ../sass/_lineShare.scss */
.linehead {
  overflow: hidden;
  *zoom: 1;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 4;
}
/* line 13, ../sass/_lineShare.scss */
.linehead .l-container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
/* line 19, ../sass/_lineShare.scss */
.linehead__back {
  float: left;
  margin-left: 25px;
  margin-top: 30px;
}
/* line 24, ../sass/_lineShare.scss */
.linehead__share {
  float: right;
  margin-right: 25px;
  margin-top: 30px;
}
/* line 28, ../sass/_lineShare.scss */
.linehead__share__facebook, .linehead__share__twitter {
  display: inline-block;
}

/*

sp---------------------------------------------------------------------------------------------

*/
@media screen and (max-width: 736px) {
  /* line 43, ../sass/_lineShare.scss */
  .linehead .l-container {
    width: auto;
  }
  /* line 46, ../sass/_lineShare.scss */
  .linehead__back {
    margin-left: 5px;
    margin-top: 10px;
  }
  /* line 49, ../sass/_lineShare.scss */
  .linehead__back img {
    width: 30px;
  }
}
@media screen and (min-width: 737px) {
  /* line 6, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu {
    color: #ffffff;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: -1;
  }
  /* line 14, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__container {
    padding: 16px;
    position: relative;
  }
  /* line 21, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__head__container {
    display: none;
  }
  /* line 26, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__names {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#50000000,EndColorStr=#50000000);
    padding: 16px 0;
    position: absolute;
    right: 0;
    top: 2px;
  }
  /* line 36, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__names__name {
    cursor: pointer;
    font-size: .8em;
    font-family: hy;
    padding: 8px 3em;
    text-align: right;
    white-space: nowrap;
  }
  /* line 46, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots {
    padding: 16px 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 53, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots__dot {
    cursor: pointer;
    height: .8em;
    margin-right: 8px;
    padding: 8px 0;
    width: .8em;
  }
  /* line 61, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots__dot img {
    height: 100%;
  }
  /* line 63, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots__dot .m--black {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  /* line 64, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots__dot .m--white {
    display: none;
  }
  /* line 68, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots__dot.m--active .m--black {
    display: none;
  }
  /* line 69, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots__dot.m--active .m--white {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }

  /* line 74, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu-trigger,
  .l--fixed-submenu__close {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  /* line 84, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu-trigger {
    background-image: url(../images/parts/open_linemenu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 20px;
    cursor: pointer;
    display: table;
    height: 40px;
    left: 3.4%;
    position: fixed;
    table-layout: fixed;
    width: 40px;
    z-index: 8;
  }
  /* line 100, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu-trigger__container {
    display: none;
  }
  /* line 104, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu-trigger__text {
    letter-spacing: 0.2em;
  }

  /* line 109, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#50000000,EndColorStr=#50000000);
    height: 100%;
    left: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  /* line 122, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__container {
    background-color: #000000;
    height: 100%;
    left: -100%;
    margin-right: 64px;
    position: relative;
    overflow: auto;
  }
  /* line 133, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__head__container {
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 0;
    text-indent: 1em;
    text-align: center;
  }
  /* line 143, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__names {
    cursor: pointer;
    display: block;
    padding: 0;
    text-indent: 1em;
  }
  /* line 150, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__names__name {
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
    padding: 16px 0;
  }
  /* line 157, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__dots {
    display: none;
  }
  /* line 165, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__close {
    cursor: pointer;
    display: none;
    padding: 8px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 64px;
  }
  /* line 176, ../sass/_fixed-submenu.scss */
  .l--fixed-submenu__close img {
    width: 80%;
  }
}
/* line 3, ../sass/_globalFooter.scss */
.globalFooter {
  margin-top: 90px;
}
/* line 5, ../sass/_globalFooter.scss */
.globalFooter__pagetop {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/footer/pagetop.png?1458808349');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: block;
  margin: auto;
}
/* line 11, ../sass/_globalFooter.scss */
.globalFooter__nav {
  background-color: #e6e6e6;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
/* line 17, ../sass/_globalFooter.scss */
.globalFooter__nav__item {
  display: inline-block;
  padding: 0 40px;
  border-right: 1px solid #000;
}
/* line 21, ../sass/_globalFooter.scss */
.globalFooter__nav__item:last-child {
  border: none;
}
/* line 24, ../sass/_globalFooter.scss */
.globalFooter__nav__item a {
  color: #000000;
  font-size: 10px;
  text-decoration: none;
}
/* line 31, ../sass/_globalFooter.scss */
.globalFooter__copyright {
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}
/* line 37, ../sass/_globalFooter.scss */
.globalFooter__copyright span {
  font-size: 1.7em;
  vertical-align: bottom;
}

/*

sp---------------------------------------------------------------------------------------------

*/
@media screen and (max-width: 736px) {
  /* line 50, ../sass/_globalFooter.scss */
  .globalFooter {
    margin-top: 25px;
  }
  /* line 52, ../sass/_globalFooter.scss */
  .globalFooter__pagetop {
    background-image: url('/images/footer/sp/pagetop.png?1458811607');
    background-repeat: no-repeat;
    -moz-background-size: 50px auto;
    -o-background-size: 50px auto;
    -webkit-background-size: 50px auto;
    background-size: 50px auto;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-position: 50% 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
  /* line 58, ../sass/_globalFooter.scss */
  .globalFooter__nav {
    background-color: #e6e6e6;
    height: 12px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }
  /* line 65, ../sass/_globalFooter.scss */
  .globalFooter__nav__item {
    display: inline-block;
    height: 10px;
    padding: 0 13px 0 8px;
    border-right: 1px solid #000;
  }
  /* line 70, ../sass/_globalFooter.scss */
  .globalFooter__nav__item:last-child {
    border: none;
  }
  /* line 73, ../sass/_globalFooter.scss */
  .globalFooter__nav__item a {
    color: #000000;
    font-size: 10px;
    text-decoration: none;
    vertical-align: text-top;
  }
  /* line 81, ../sass/_globalFooter.scss */
  .globalFooter__copyright {
    background-color: #000;
    color: #FFF;
    font-size: 9px;
    line-height: 20px;
    text-align: center;
  }
}
