@charset "UTF-8";
/* smartphone layout break point*/
/* max width device : iPhone6 plus(Landscape) */
/* line 8, ../scss/search.scss */
.search {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  top: 50px;
  width: 1200px;
  /* narrowdown */
  /* pagenation */
}
/* line 15, ../scss/search.scss */
.search__title {
  font-family: hy;
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
}
/* line 21, ../scss/search.scss */
.search__result {
  text-align: center;
}
/* line 23, ../scss/search.scss */
.search__result__keyword {
  font-family: hy;
  font-size: 24px;
  margin-top: 30px;
}
/* line 28, ../scss/search.scss */
.search__result__message {
  font-size: 16px;
  margin-top: 30px;
}
/* line 33, ../scss/search.scss */
.search__narrowdown {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 30px;
}
/* line 37, ../scss/search.scss */
.search__narrowdown__openclose {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  width: 172px;
}
/* line 49, ../scss/search.scss */
.search__narrowdown__form {
  border-top: 1px solid #cccccc;
  display: none;
  padding-bottom: 30px;
  width: 100%;
}
/* line 56, ../scss/search.scss */
.search__narrowdown__form .form {
  overflow: hidden;
  *zoom: 1;
}
/* line 58, ../scss/search.scss */
.search__narrowdown__form .form__title {
  font-family: hy;
  font-size: 20px;
  float: left;
  margin-left: 215px;
  margin-top: 100px;
}
/* line 65, ../scss/search.scss */
.search__narrowdown__form .form table {
  float: left;
  margin-left: 70px;
  margin-top: 30px;
}
/* line 71, ../scss/search.scss */
.search__narrowdown__form .form__th {
  font-size: 12px;
  text-align: right;
}
/* line 75, ../scss/search.scss */
.search__narrowdown__form .form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/images/arrow_down_small.png?1457868852');
  background-position: right 50%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height: 32px;
  margin-left: 20px;
  width: 180px;
}
/* line 90, ../scss/search.scss */
.search__narrowdown__form .form__input-text {
  background-image: url('/images/header/icon_search.gif?1458808371');
  background-position: left 50%;
  background-repeat: no-repeat;
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  height: 32px;
  font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-indent: 30px;
  width: 390px;
}
/* line 103, ../scss/search.scss */
.search__narrowdown__form .form__input-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  border: none;
  border-radius: 0;
  color: #FFF;
  cursor: pointer;
  font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  float: left;
  line-height: 30px;
  margin-left: 50px;
  margin-top: 95px;
  width: 110px;
}
/* line 122, ../scss/search.scss */
.search__narrowdown__closer {
  color: #aaaaaa;
  cursor: pointer;
  padding-top: 16px;
  text-align: center;
}
/* line 131, ../scss/search.scss */
.search .pagenation__status {
  font-family: hy;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
}
/* line 138, ../scss/search.scss */
.search .pagenation__nav {
  text-align: center;
}
/* line 140, ../scss/search.scss */
.search .pagenation__nav__list {
  display: inline-block;
}
/* line 143, ../scss/search.scss */
.search .pagenation__nav__next, .search .pagenation__nav__back, .search .pagenation__nav__list__num {
  display: inline-block;
  border: 1px solid #cccccc;
  font-family: hy;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  width: 30px;
  color: #CCC;
}
/* line 154, ../scss/search.scss */
.search .pagenation__nav__next a, .search .pagenation__nav__back a, .search .pagenation__nav__list__num a {
  color: #000;
  display: block;
}
/* line 158, ../scss/search.scss */
.search .pagenation__nav__next.current, .search .pagenation__nav__back.current, .search .pagenation__nav__list__num.current {
  background-color: #000;
}
/* line 160, ../scss/search.scss */
.search .pagenation__nav__next.current a, .search .pagenation__nav__back.current a, .search .pagenation__nav__list__num.current a {
  color: #FFF;
}
/* line 168, ../scss/search.scss */
.search .result_list {
  overflow: hidden;
  *zoom: 1;
}
/* line 170, ../scss/search.scss */
.search .result_list__item {
  float: left;
  margin-top: 20px;
  min-height: 320px;
  width: 240px;
  text-align: center;
}
/* line 177, ../scss/search.scss */
.search .result_list__item__image img {
  height: auto;
  width: 150px;
}
/* line 182, ../scss/search.scss */
.search .result_list__item__spec {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  word-break: normal;
}
/* line 188, ../scss/search.scss */
.search .result_list__item__spec .line_name {
  display: block;
}
/* line 192, ../scss/search.scss */
.search .result_list__item__spec .product_name span {
  display: inline-block;
  white-space: pre;
  /*
  padding-right: 0.3em;
  &:last-child {
      padding-right: 0;
  }
  &.d_space {
      padding-right: 0;
  }
  */
}
/* line 206, ../scss/search.scss */
.search .result_list__item__spec small {
  color: #999999;
  display: inline-block;
  font-size: 12px;
  margin-top: 15px;
}

/*

sp---------------------------------------------------------------------------------------------

*/
@media screen and (max-width: 736px) {
  /* line 225, ../scss/search.scss */
  .search {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 36px;
    top: 36px;
    width: 90%;
    /* narrowdown */
    /* pagenation */
  }
  /* line 233, ../scss/search.scss */
  .search__title {
    font-family: hy;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
  }
  /* line 239, ../scss/search.scss */
  .search__result {
    text-align: center;
  }
  /* line 241, ../scss/search.scss */
  .search__result__keyword {
    font-family: hy;
    font-size: 17px;
    margin-top: 25px;
  }
  /* line 246, ../scss/search.scss */
  .search__result__message {
    font-size: 13px;
    margin-top: 20px;
  }
  /* line 251, ../scss/search.scss */
  .search__narrowdown {
    margin-bottom: 30px;
    border-bottom: 1px solid #cccccc;
  }
  /* line 254, ../scss/search.scss */
  .search__narrowdown__openclose {
    background-color: #000;
    color: #FFF;
    font-size: 12px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 172px;
  }
  /* line 265, ../scss/search.scss */
  .search__narrowdown__form {
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
  }
  /* line 271, ../scss/search.scss */
  .search__narrowdown__form .form {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 273, ../scss/search.scss */
  .search__narrowdown__form .form__title {
    font-family: hy;
    font-size: 20px;
    float: none;
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
  }
  /* line 281, ../scss/search.scss */
  .search__narrowdown__form .form table {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  /* line 288, ../scss/search.scss */
  .search__narrowdown__form .form__th {
    font-size: 11px;
    text-align: right;
  }
  /* line 292, ../scss/search.scss */
  .search__narrowdown__form .form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/sp/arrow_down_small.png?1458708579');
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: 6px auto;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    height: 32px;
    margin-left: 10px;
    width: 100px;
  }
  /* line 308, ../scss/search.scss */
  .search__narrowdown__form .form__input-text {
    background-image: url('/images/header/icon_search.gif?1458808371');
    background-position: left 50%;
    background-repeat: no-repeat;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    height: 32px;
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-indent: 30px;
    width: 195px;
  }
  /* line 321, ../scss/search.scss */
  .search__narrowdown__form .form__input-submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #000;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-family: hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    float: none;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 160px;
  }
  /* line 346, ../scss/search.scss */
  .search .pagenation__status {
    font-family: hy;
    font-size: 12px;
    position: relative;
    height: 25px;
    text-align: center;
  }
  /* line 353, ../scss/search.scss */
  .search .pagenation__nav {
    text-align: center;
  }
  /* line 355, ../scss/search.scss */
  .search .pagenation__nav__list {
    display: inline-block;
  }
  /* line 358, ../scss/search.scss */
  .search .pagenation__nav__next, .search .pagenation__nav__back, .search .pagenation__nav__list__num {
    display: inline-block;
    border: 1px solid #cccccc;
    font-family: hy;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    width: 25px;
  }
  /* line 368, ../scss/search.scss */
  .search .pagenation__nav__next a, .search .pagenation__nav__back a, .search .pagenation__nav__list__num a {
    color: #000;
    display: block;
  }
  /* line 372, ../scss/search.scss */
  .search .pagenation__nav__next.current, .search .pagenation__nav__back.current, .search .pagenation__nav__list__num.current {
    background-color: #000;
  }
  /* line 374, ../scss/search.scss */
  .search .pagenation__nav__next.current a, .search .pagenation__nav__back.current a, .search .pagenation__nav__list__num.current a {
    color: #FFF;
  }
  /* line 382, ../scss/search.scss */
  .search .result_list {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 384, ../scss/search.scss */
  .search .result_list__item {
    overflow: hidden;
    *zoom: 1;
    float: left;
    margin-top: 20px;
    min-height: 200px;
    width: 50%;
    text-align: center;
  }
  /* line 393, ../scss/search.scss */
  .search .result_list__item__spec {
    font-size: 12px;
    -webkit-hyphens: none;
  }
  /* line 396, ../scss/search.scss */
  .search .result_list__item__spec small {
    color: #999999;
    display: inline-block;
    font-size: 10px;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=search.css.map */
