@charset "utf-8";

/*------------------
2013 marcel wandars
------------------*/

.coda-nav ul li a{
display:block;
overflow:hidden;
}

.coda-nav ul li.tab1 a{
width:66px;
height:33px;
}

.coda-nav ul li.tab1 {
background:no-repeat URL(../images/2013/no1_on.gif) 0 0;
}


.coda-nav ul li.tab2 a {
width:70px;
height:33px;
}

.coda-nav ul li.tab2 {
background:no-repeat URL(../images/2013/no2_on.gif) 0 0;
}

.coda-nav ul li.tab3 a{
width:112px;
height:33px;
}

.coda-nav ul li.tab3 {
background:no-repeat URL(../images/2013/no3_on.gif) 0 0;
}



.coda-nav ul li.tab4 a{
width:163px;
height:33px;
}

.coda-nav ul li.tab4 {
background:no-repeat URL(../images/2013/no4_on.gif) 0 0;
}


.coda-nav ul li.tab5 a{
width:153px;
height:33px;
}

.coda-nav ul li.tab5 {
background:no-repeat URL(../images/2013/no5_on.gif) 0 0;
}

.coda-nav ul li.tab6 a{
width:137px;
height:33px;
}

.coda-nav ul li.tab6 {
background:no-repeat URL(../images/2013/no6_on.gif) 0 0;
}

.coda-nav ul li.tab7 a{
width:141px;
height:33px;
}


.coda-nav ul li.tab7 {
background:no-repeat URL(../images/2013/no7_on.gif) 0 0;
}

.coda-nav ul li.tab8 a{
width:50px;
height:33px;
}


.coda-nav ul li.tab8 {
background:no-repeat URL(../images/2013/no8_on.gif) 0 0;
}



.coda-nav ul li a.current img {
visibility: hidden;
}

.coda-nav ul li a.current  {
background-color:transparent;
background-image:none;
}

.coda-nav ul li a:hover img {
visibility:hidden;
}

.coda-nav ul li a:hover {
background-color:transparent;
background-image:none;
}