@charset "utf-8";


/* tab */

.coda-nav{
	text-align:center;
}

.coda-nav ul{
width:900px;
margin:0 auto 40px;
text-align: center;
}


.coda-nav ul li{
	display:inline-block;
	float:none;
}

.coda-nav ul li a{
display:inline-block;
color:#000000;
border-top:1px solid #FFFFFF;
padding:12px 4px;
margin-right:10px;
}

.coda-nav ul li.tab6 a{
margin-right:0;
}


.coda-nav ul li a:hover{
border-top:1px solid #00aacb;
color:#00aacb;
}

.coda-nav ul li a.current{
border-top:1px solid #00aacb;	
color:#00aacb;
}


/* anchor */


.p1 a,
.p2 a,
.p3 a,
.p4 a,
.p5 a,
.p6 a{
	overflow:hidden;
	display:block;
	position:absolute;
	text-indent:-9999px;
/*	background-color:#000000;
	opacity:0.5;*/
}

.p1 a:hover,
.p2 a:hover,
.p3 a:hover,
.p4 a:hover,
.p5 a:hover,
.p6 a:hover{
	background-color:#000000;
	opacity:0.4;
}



.p3 a.JQCV{
	width:73px;
	height:49px;
	left:333px;
	top:341px;
	}

.p3 a.JKWI{
	width:206px;
	height:35px;
    top: 201px;
   left: 483px;
	}
.p3 a.JKWC{
    height: 42px;
    width:  206px;
    top: 239px;
   left: 483px;
	}

.p3 a.JKEE{
    height: 45px;
    width:  206px;
    top: 634px;
   left: 577px;
	}
	
.p3 a.JKLI{
    height: 24px;
    width:  206px;
    top: 681px;
   left: 577px;
	}	

	
.p4 a.JBLE{
    height:40px;
    width:  100px;
    top: 239px;
   left: 308px;
	}

.p4 a.JKLT{
    height:40px;
    width:  100px;
    top: 323px;
   left: 308px;
	}


.p4 a.JNBF{
    height:45px;
    width:  148px;
    top: 631px;
   left: 228px;
	}

.p4 a.JSSI{
    height:40px;
    width:  86px;
    top: 242px;
   left: 489px;
	}

.p4 a.JVYL{
    height:40px;
    width:  97px;
    top: 646px;
   left: 575px;
	}
	
.p4 a.JQCK{
    height:40px;
    width:  72px;
    top: 636px;
   left: 781px;
	}
	
	
.p5 a.JIZC{
    height:83px;
    width:87px;
    top:11px;
   left:337px;
	}
	
.p5 a.JIUU{
    width:105px;
    height:44px;
    top:204px;
   left:738px;
	}
.p5 a.JITF{
    width:105px;
    height:65px;
    top:250px;
   left:738px;
	}
.p5 a.JILU{
    width:117px;
    height:44px;
    top:380px;
   left:526px;
	}

.p5 a.JISF{
    width:117px;
    height:65px;
    top:426px;
   left:526px;
	}


.p5 a.JGFH{
    width:117px;
    height:72px;
    top:608px;
   left:738px;
	}

.p5 a.JGGQ{
    width:117px;
    height:44px;
    top:560px;
   left:738px;
	}

.p6 a.JGWW{
    height:50px;
    width:  90px;
    top: 249px;
   left: 608px;
	}

.p6 a.JYCE{
    height:25px;
    width:  145px;
    top: 652px;
   left: 707px;
	}
	