@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?f1qrju');
    src:    url('/fonts/icomoon.eot?f1qrju#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?f1qrju') format('truetype'),
        url('/fonts/icomoon.woff?f1qrju') format('woff'),
        url('/fonts/icomoon.svg?f1qrju#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
    content: "\e902";
}
.icon-mobile:before {
    content: "\e914";
}
.icon-share2:before {
    content: "\e912";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-windows:before {
    content: "\e904";
}
.icon-facebook2:before {
    content: "\e913";
}
.icon-twitter:before {
    content: "\e90b";
}
.icon-youtube:before {
    content: "\e910";
}
.icon-mobile2:before {
    content: "\e90f";
}
.icon-cross:before {
    content: "\e903";
}
.icon-chevron-thin-left:before {
    content: "\e905";
}
.icon-triangle-left:before {
    content: "\e908";
}
.icon-chevron-thin-down:before {
    content: "\e906";
}
.icon-triangle-down:before {
    content: "\e90a";
}
.icon-chevron-thin-right:before {
    content: "\e907";
}
.icon-triangle-right:before {
    content: "\e90d";
}
.icon-chevron-thin-up:before {
    content: "\e909";
}
.icon-triangle-up:before {
    content: "\e90e";
}
.icon-mail-envelope-closed:before {
    content: "\e915";
}
.icon-search:before {
    content: "\e911";
}
.icon-menu2:before {
    content: "\e90c";
}
.icon-search2:before {
    content: "\e900";
}

