@charset "UTF-8";

$sp_width:736px;
$pc_width:737px;
/* smartphone layout break point*/
/* max width device : iPhone6 plus(Landscape) */

$mincho:"Hiragino Mincho W3 JIS2004" ,"Hiragino Mincho ProN","ヒラギノ明朝 ProN","YuMincho","游明朝","游明朝体",serif;

$gothic:hy, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$gothic-bold:"Hiragino Kaku Gothic W6 JIS2004", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
