@charset "UTF-8";

@import "compass";
@import "mixin";
@import "media-queries";
@import "vars";

.app {
    @include clearfix;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    top: 50px;
    width: 1200px;
    &__title {
        font-family: $mincho;
        font-size: 30px;
        margin-top: 100px;
        text-align: center;
    }
    &__about {
        background-image: url(../images/app/iphone.jpg);
        background-position: right top;
        background-repeat: no-repeat;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 2;
        margin: 20px auto 0;
        min-height: 330px;
        padding-top: 30px;
        width: 800px;
        p {
            width: calc(100% - 250px);
        }
        .update_message {
            color: #FF0000;
            margin-bottom: 20px;
        }
        .downloadlink {
            @include clearfix;
            margin-top: 30px;
            &__item {
                float: left;
                margin-right: 10px;
                a img {
                    height: 40px;
                }
            }
        }
    }
    &__image {
        margin-top: 75px;
        &__title {
            border-bottom: 1px solid #000;
            font-family: $mincho;
            font-size: 18px;
            padding-bottom: 12px;
        }
        &__list {
            margin-top: 50px;
            text-align: center;
            &__item {
                display: inline-block;
                font-size: 14px;
                margin: 0 20px;
                text-align: center;
                img {
                    display: block ;
                    margin-top: 30px;
                }
            }
        }
    }
}

/*

sp---------------------------------------------------------------------------------------------

*/
@include max-screen($sp_width) {



.app {
    @include clearfix;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    top: 50px;
    width: auto;

    &__title {
        font-family: $mincho;
        font-size: 20px;
        margin-top: 50px;
    }
    &__about {
        background-image: url(../images/app/iphone.jpg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: 120px;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 1.6;
        margin: 50px auto 0;
        min-height: inherit;
        padding-top: 0;
        width: 95%;
        p {
            font-size: 12px;
            width: calc(100% - 130px);
        }
        .downloadlink {
            @include clearfix;
            margin-top: 30px;
            text-align: center;
            &__item {
                display: inline-block;
                float: none;
                margin-right: 10px;
                a img {
                    height: 40px;
                }
            }
        }
    }
    &__image {
        margin: 25px auto 0;
        width: 95%;
        &__title {
            border-bottom: 1px solid #000;
            font-family: $mincho;
            font-size: 18px;
            padding-bottom: 12px;
        }
        &__list {
            background-color: #e6e6e6;
            margin-top: 25px;
            padding: 10px 0;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            &__item {
                display: table-cell;
                font-size: 14px;
                margin: 0 20px;
                text-align: center;
                width: 130px;
                img {
                    display: block ;
                    margin: 0 5px;
                    width: 140px;
                }
            }
        }
    }
}



}