@charset "UTF-8";
/* CSS Document */

/* recipe de cosmedecorte
-------------------------------------------------------------------*/


/*section img,
p.logo img,
p.ttl02 img{
	zoom:50%;
	}
*/

p.logo img{
	zoom:50%;
	}


p{
	font-size:14px;
	line-height:1.5em;
	color:#000000;
	margin:10px;
	}

.logo {
	text-align:center;
	border-bottom:1px solid #735a30;
	padding-top:10px;
	padding-bottom:10px;
	margin:0;
}



.ttl02{
	font-size:20px;
	color:#da4612;
	font-weight:bold;
	text-align:center;	
	padding-top:10px;
	}
	
.ttl02 img{
	width:100%;
	max-width:538px;
	}

img.fit100{
		width:100%;
		max-width:640px;
	}

section{
	padding-bottom:30px;
	max-width:660px;
	margin:0 auto;
	}

section .main {
	text-align:center;
	padding-top:10px;
}

section .main img {
	width:90%;
	max-width:450px;

}

section .lead{
	color:#333333;
	text-align:center;
	margin-bottom:20px;
	}

section .ttl{
	text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	}
section .top{
	margin:0;
	padding:0;
}

section .fleft{
	float:left;
	margin:10px;
	}

section .fright{
	float:right;
	margin:10px;
	}

section .acenter{
	text-align:center;
	}

section.page01 .wrap,
section.page01_2 .wrap{
	background-color:#fffaef;
	padding-top:5px;
	}

section.page01 .lead{
	text-align:left;
	color:#333;
	font-size:13px;
	
}
section.page01 .comment{
	margin-bottom:20px;	
}

section.page01 .comment p{
	margin:0;
	padding:0;
}
	
section.page01 .problems{
	padding:10px;	
	}
	
section.page01 .problems div{
	margin-bottom:30px;
	}

section.page01 .problems .hope{
	font-size:15px;
}

section.page01 .problems .chiaki span{
		font-size:11px;
	color:#d94378;
	}
	

section.page01 .problems .kumiko span{
		font-size:11px;
	color:#f2609a;
}

section.page01 .problems .eri span{
		font-size:11px;
	color:#b2537b;
}

section.page01 .problems .advice{
	border-radius:8px;
	padding:10px;
	}

section.page01 .problems .btn_to{
	text-align:right;
	}

section.page01 .problems .btn_to img{
	width:70%;
	max-width:585px;
	}


section.page01 .problems .chiaki .advice{
	background-color:#d94378;
	color:#FFFFFF;
}
section.page01 .problems .kumiko .advice{
	background-color:#f2609a;
	color:#FFFFFF;
}

section.page01 .problems .eri .advice{
	background-color:#b2537b;
	color:#FFFFFF;
}

section.page01 .problems img.fleft{
	width:24%;
	max-width:159px;
	margin:0;
}


section.page01_2 .lead{
	text-align:left;
	color:#333;
	font-size:13px;
	padding:10px;
	
}

section.page01_2 .information{
	margin-top:30px;
	}

section.page01_2 .information img{
	width:36%;
	max-width:150px;
	
}


section.page01_2 .information p{
	color:#d94378;
	line-height:1.8em;
}


section.page01_2 .information p span{
	display:block;
	margin-top:1.0em;
	color:#735a30;
}

section.page02 .ttl{
	text-align:left;
}

section.page02 .ttl img{
	width:40%;
	max-width:267px;
	}

section.page02 .image{
	width:66%;
	max-width:427px;
	margin: 0 auto;
}
section.page02 .image p{
	font-size: 10px;
	color:#e95377;
}


section.page02_2 .ttl{
	padding-bottom:0;
	}

section.page02_2 .ttl .fleft{
	margin:0;
	}

section.page02_2 .ttl .fleft{
	width:55%;
	padding-left:10px;
	}

section.page02_2 .ttl .fright{
	width:35%;
	}

section.page02_2 .ttl .fleft img,
section.page02_2 .ttl .fright img{
	width:100%;
}

section.page02_2 .ttl .fright img{
	max-width:200px;
}

section.page02_2 .ttl .fleft p{
	padding:2px;
	text-align:left;
	}
section.page02_2 .sub img{
	width:21%;
	max-width:140px;
	}
section.page02_2 .sub{
	font-size:17px;
	color:#745a30;
}

section.page02_2 .sub .fleft{
	margin:0;
	margin-right:10px;
}

section.page02_2 .lip{
	padding:10px;
	}


section.page02_2 .lip .fleft,
section.page02_2 .lip .fright{
	width:49%;
	margin:0;
	}

section.page02_2 .lip .fleft{
	text-align:center;
	
	}

section.page02_2 .lip .fleft img{
	width:90%;
	max-width:262px;
}
	
section.page02_2 .lip .fright p{
	margin-top:0;
}
	
section.page02_2 .item{
	padding:0 10px;
	}
section.page02_2 .item p{
	font-size:10px;
	line-height:1.3em;
}

section.page02_2 .item .fleft,
section.page02_2 .item .fright{
	margin:0;
	}

section.page02_2 .item01,
section.page02_2 .item02{
	width:45%;
	font-size:11px;
	line-height:1.5em;
	}
	
section.page02_2 .icon{
	height:30px;
	margin-top:20px;
	margin-bottom:10px;
	}

section.page02_2 .plus{
	width:10%;
	padding-top:15%;
	text-align:center;
	}
	

section.page02_2 .plus img{
	width:50%;
	}

section.page02_2 .item01 img.fleft,
section.page02_2 .item02 img.fleft{
	width:36%;
	max-width:96px;
	margin-right:1%;
	}

section.page02_2 .column{
	background-color:#fffceb;
	padding:15px;
	margin-top:30px;
	}

section.page02_2 .column .column_ttl{
	position:relative;
	top:-40px;
	text-align:center;
}

section.page02_2 .column .column_ttl img{
	width:40%;
	max-width:267px;
}
	


section.page02_2 .column .copy{
	margin-top:-30px;
	margin-bottom:0;
	color:#745a30;
	font-size:17px;
	}


section.page02_3 .cheek{
	padding:10px;
	}


section.page02_3 .cheek .fleft,
section.page02_3 .cheek .fright{
	width:49%;
	margin:0;
	}

section.page02_3 .cheek .fleft{
	text-align:center;
	
	}

section.page02_3 .cheek .fleft img{
	width:90%;
	max-width:262px;
}
	
section.page02_3 .cheek .fright p{
	margin-top:0;
}
	


section.page02_3 .item{
	padding:0 10px;
	}

section.page02_3 .item p{
	font-size:10px;
	line-height:1.3em;
}

section.page02_3 .item .fleft,
section.page02_3 .item .fright{
	margin:0;
	}

section.page02_3 .item .item01,
section.page02_3 .item .item02{
	width:48%;
	font-size:11px;
	line-height:1.5em;
	}
	
section.page02_3 .item .item01 img,
section.page02_3 .item .item02 img{
	width:90%;
	max-width:217px;
	}

section.page02_3 .item .plus{
	width:10%;
	padding-top:15%;
	text-align:center;
	}
	

section.page02_3 .item .plus img{
	width:50%;
	}
	


section.page02_3 .item2{
	padding:0 10px;
	}


section.page02_3 .item2 .fleft,
section.page02_3 .item2 .fright{
	margin:0;
	}

section.page02_3 .item2 .item01{
	width:48%;
	font-size:11px;
	line-height:1.5em;
	}


section.page02_3 .item2 .item02{
	width:48%;
	font-size:11px;
	line-height:1.5em;
	}
	
section.page02_3 .item2 .item01 img{
	width:50%;
	max-width:133px;
	padding-left:30%;
	}
section.page02_3 .item2 .item02 img{
	width:100%;
	max-width:306px;
	}

section.page02_3 .item2 .plus{
	width:10%;
	padding-top:15%;
	text-align:center;
	}
	

section.page02_3 .item2 .plus img{
	width:50%;
	}

section.page02_3 .item2 p{
	font-size:10px;
	line-height:1.3em;
	padding:10px 0 ;
}



section.page02_3 .basemake{

	margin:30px 10px 10px;
	background:URL(/images/sp/recipe/20130821/page02_3_bg.gif) 0 0 ;
	}


section.page02_3 .basemake .column{
	position:relative;
	top:-10px;
	left:0;
}

section.page02_3 .basemake img.column_ttl{
	width:68%;
	max-width:440px;
	margin: 0 auto;
	margin-left:10px;
}

section.page02_3 .basemake p{
	padding:0 10px;
	}

section.page02_3 .basemake .copy{
	font-size:17px;
	color:#745a30;
	padding:0 10px;
	margin-top:20px;
	}

section.page03 .ttl{
	text-align:left;
}

section.page03 .ttl img{
	width:40%;
	max-width:267px;
	}

section.page03 .image{
	width:66%;
	max-width:427px;
	margin: 0 auto;
}
section.page03 .image p{
	font-size: 10px;
	color:#a74e62;
}


section.page03_2 .ttl{
	padding-bottom:0;
	}

section.page03_2 .ttl .fleft{
	margin:0;
	}

section.page03_2 .ttl .fleft{
	width:55%;
	padding-left:10px;
	}

section.page03_2 .ttl .fright{
	width:35%;
	}

section.page03_2 .ttl .fleft img,
section.page03_2 .ttl .fright img{
	width:100%;
}

section.page03_2 .ttl .fright img{
	max-width:200px;
}

section.page03_2 .ttl .fleft p{
	padding:2px;
	text-align:left;
	}
section.page03_2 .sub img{
	width:21%;
	max-width:140px;
	}
section.page03_2 .sub{
	font-size:17px;
	color:#745a30;
}

section.page03_2 .sub .fleft{
	margin:0;
	margin-right:10px;
}

section.page03_2 .lip{
	padding:10px;
	}


section.page03_2 .lip .fleft,
section.page03_2 .lip .fright{
	width:49%;
	margin:0;
	}

section.page03_2 .lip .fleft{
	text-align:center;
	padding-top:20px;
	}

section.page03_2 .lip .fleft img{
	width:90%;
	max-width:262px;
}
	
section.page03_2 .lip .fright p{
	margin-top:0;
}

section.page03_2 .item{
	text-align:left;
}


section.page03_2 .item img.fleft{
	width:30%;
	max-width:96px;	
	} 

section.page03_2 .item img.icon{
	width:60%;
	max-width:140px;
	padding-top:20px;
}
	


section.page03_2 .item p{
	font-size:10px;
	line-height:1.3em;
	padding:10px 0 ;
	text-align:left;
}



section.page03_2 .column{
	background-color:#fffceb;
	padding:15px;
	margin-top:30px;
	}

section.page03_2 .column .column_ttl{
	position:relative;
	top:-25px;
	text-align:center;
}

section.page03_2 .column .column_ttl img{
	width:40%;
	max-width:267px;
}

section.page03_2 .column .copy{
	margin-top:-10px;
	margin-bottom:0;
	color:#745a30;
	font-size:17px;
	}
	
section.page03_2 .column .fleft,
section.page03_2 .column .fright{
	width:49%;
	margin:0;	
	}

section.page03_2 .column .fleft img{
	width:100%;
	}
	
	
section.page03_2 .column .columm_sub{	
	color:#a74e62;
	padding-top:20px;
}

section.page03_2 .column p{
	margin:0 10px;
	}
	


section.page03_3 .cheek{
	padding:10px;
	}


section.page03_3 .cheek .fleft,
section.page03_3 .cheek .fright{
	width:49%;
	margin:0;
	}

section.page03_3 .cheek .fleft{
	text-align:center;
	
	}

section.page03_3 .cheek .fleft img{
	width:90%;
	max-width:262px;
}
	
section.page03_3 .cheek .fright p{
	margin-top:0;
}


section.page03_3 .item{
	padding:0 10px;
	}

section.page03_3 .item p{
	font-size:10px;
	line-height:1.3em;
	text-align:left;
	letter-spacing:-0.1em;
}

section.page03_3 .item .fleft,
section.page03_3 .item .fright{
	margin:0;
	}


section.page03_3 .item .item01{
	width:34%;
	line-height:1.5em;
	text-align:center;
	}

section.page03_3 .item .item02,
section.page03_3 .item .item03{
	width:32%;
	margin-left:1%;
	line-height:1.5em;
	text-align:center;
	}
	
section.page03_3 .item .item01 img{
	width:95%;
	max-width:183px;
	}
section.page03_3 .item .item02 img{
	width:90%;
	max-width:160px;
}

section.page03_3 .item .item03 img{
	width:90%;
	max-width:157px;
}

section.page03_3 .item .plus{
	width:5%;
	padding-top:15%;
	text-align:center;
	}
	

section.page03_3 .item .plus img{
	width:100%;
	}





section.page03_3 .basemake{

	margin:30px 10px 10px;
	background:URL(/images/sp/recipe/20130821/page03_3_bg.gif) 0 0 ;
	}


section.page03_3 .basemake .column{
	position:relative;
	top:-10px;
	left:0;
}

section.page03_3 .basemake img.column_ttl{
	width:68%;
	max-width:440px;
	margin: 0 auto;
	margin-left:10px;
}

section.page03_3 .basemake p{
	padding:0 10px;
	}

section.page03_3 .basemake .copy{
	font-size:17px;
	color:#745a30;
	padding:0 10px;
	margin-top:20px;
	}


section.page03_3 .item2{
	padding:0 10px;
	}


section.page03_3 .item2 .fleft,
section.page03_3 .item2 .fright{
	margin:0;
	}

section.page03_3 .item2 .item01{
	width:45%;
	font-size:11px;
	line-height:1.5em;
	}


section.page03_3 .item2 .item02{
	width:53%;
	font-size:11px;
	line-height:1.5em;
	}
	
section.page03_3 .item2 .item01 img{
	width:60%;
	max-width:175px;
	padding-left:10%;
	}
section.page03_3 .item2 .item02 img{
	width:85%;
	max-width:299px;
	}

section.page03_3 .item2 .plus{
	width:10%;
	padding-top:15%;
	text-align:center;
	}
	

section.page03_3 .item2 .plus img{
	width:50%;
	}

section.page03_3 .item2 p{
	font-size:10px;
	line-height:1.3em;
	padding:10px 0 ;
}







