@charset "UTF-8";
/* CSS Document */

/* recipe de cosmedecorte
-------------------------------------------------------------------*/


/*section img,
p.logo img,
p.ttl02 img{
	zoom:50%;
	}
*/



.btn a.ui-link {
    letter-spacing: 0;
}


p.logo img{
	width:83%;
	height:auto;
	max-width:530px;
	}


p{
	font-size:14px;
	line-height:1.5em;
	color:#000000;
/*	margin:10px;*/
	}

.logo {
	text-align:center;
	border-bottom:1px solid #CCCCCC;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 0 3px;
}



.ttl02{
	font-size:20px;
	color:#da4612;
	font-weight:bold;
	text-align:center;	
	padding-top:10px;
	}
	
.ttl02 img{
	width:100%;
	max-width:640px;
	}

img.fit100{
		width:100%;
		max-width:640px;
	}

section{
	padding-bottom:30px;
	max-width:660px;
	margin:0 auto;
	}

section .main {
	text-align:center;
	padding-top:10px;
}

section .main img {
	width:90%;
	max-width:450px;

}

section .lead{
	width:70%;
	max-width:450px;
	color:#666666;
	text-align:left;
	margin:0 auto 20px;
	}

section .ttl{
	text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	}
section .top{
	margin:0;
	padding:0;
}

/*section .fleft{
	float:left;
	margin:10px;
	}

section .fright{
	float:right;
	margin:10px;
	}*/

section .acenter{
	text-align:center;
	}



section div.content img{
	width:100%;
	max-width:640px;
	margin:0 auto;
	}


/*div.content{
	position:relative;
	}*/


.page01 div.content a,
.page02 div.content a,
.page03 div.content a,
.page04 div.content a,
.page05 div.content a,
.page06 div.content a{
	overflow:hidden;
	display:block;
	position:absolute;
	text-indent:-9999px;
/*	background-color:#666666;
	opacity:0.6;*/
}


.page01_1,
.page01_2{
	position:relative;
}


.page02_1,
.page02_2{
	position:relative;
	}

.page02_1 a.JQCV{
    height: 6%;
    left: 75%;
    top: 46%;
    width: 18%;
	}

.page02_2 a.JKWI{
    height: 5%;
    left: 2%;
    top: 30%;
    width: 50%;
	}


.page02_2 a.JKWC{
    height: 6%;
    left: 2%;
    top: 35%;
    width: 50%;
	}

.page02_2 a.JKEE{
    height: 6%;
    left: 27%;
    top: 83%;
    width: 50%;
	}


.page02_2 a.JKLI{
    height: 4%;
    left: 27%;
    top: 89%;
    width: 50%;
	}



.page03_1,
.page03_2{
	position:relative;
	}

.page03_1 a.JBLE{
    height: 5%;
    left: 64%;
    top: 30%;
    width: 26%;
}


.page03_1 a.JKLT{
    height: 5%;
    left: 64%;
    top: 44.5%;
    width: 26%;
}
.page03_1 a.JNBF{
    height: 6%;
    left: 52%;
    top: 87%;
    width: 38%;
}



.page03_2 a.JSSI{
    height: 4.5%;
    left: 5%;
    top: 33.5%;
    width: 22%;
}


.page03_2 a.JVYL{
    height: 5%;
    left: 23%;
    top: 90%;
    width: 26%;
}

.page03_2 a.JQCK{
    height: 5%;
    left: 72%;
    top: 91%;
    width: 19%;
}


.page04_1,
.page04_2{
	position:relative;
}

.page04_1 a.JIZC{
    height: 10%;
    left: 69%;
    top: 2%;
    width: 22%;
}

.page04_2 a.JIUU{
    height: 6.5%;
    left: 62%;
    top: 28%;
    width: 27%;
}

.page04_2 a.JITF{
    height: 8.5%;
    left: 62%;
    top: 34.5%;
    width: 27%;
}

.page04_2 a.JISF{
    height: 8.5%;
    left: 7%;
    top: 59%;
    width: 27%;
	}
	
.page04_2 a.JILU{
    height: 6%;
    left: 7%;
    top: 53%;
    width: 29%;
	}

.page04_2 a.JGFH{
    height: 10%;
    left: 64%;
    top: 83%;
    width: 29%;
	}

.page04_2 a.JGGQ{
    height: 6%;
    left: 64%;
    top: 77%;
    width: 29%;
	}

.page05_1,
.page05_2{
	position:relative;
	}
	

.page05_2 a.JGWW{
    height: 7%;
    left: 39%;
    top: 34%;
    width: 22%;
	}

.page05_2 a.JYCE{
    height: 4%;
    left: 59%;
    top: 88.5%;
    width: 35%;
	}


.page05_2 a.JIUU{
    height: 30%;
    left: 6%;
    top: 56%;
    width: 39%;
	}

.page05_2 a.JGGQ{
    height: 30%;
    left: 46%;
    top: 56%;
    width: 45%;
	}

